<% if current = Cms::Notice.current %>
  <div class="current"><%= current.message %></div>
<% end %>

<table summary="<%= only_controller %>">
  <tr>
    <%= list_header_cell :title => "Ziņa", :width => 300, :sort_column => "title" %>
    <%= list_header_cell :title => "Rādīt līdz", :width => 100, :sort_column => "valid_until" %>
    <%= list_header_cell :width=>50,  :title => "Dzēst" %>
  </tr>
  <% for notice in @page %>
    <tr>
      <td><%= edit_link(:title => notice.title, :id => notice.id) %></td>
      <td><%= notice.valid_until.to_s(:short_datetime) %></td>
      <td><%= destroy_link(:image => true,:id => notice.id) %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= cms_pages list %>
