- ids_method = field.name.to_s.match(/_ids$/) ? field.name : "#{field.name.to_s.singularize}_ids"

.autocomplete-container
  = hidden_field_tag "#{resource_name}[#{ids_method}][]",""
  = text_field_tag :"autocomplete-#{resource_name}", nil, :"data-autocomplete-url" => autocomplete_field_path(:field_class => tab_form.object.class.to_s, :field_name => field.name)
  %ul
    - resource.persisted? && resource.send(field.name).each do |element|
      %li
        = element.send(element.class.lolita.tabs.first.fields.first.name.to_sym)
        = link_to I18n.t("lolita.shared.delete").downcase, nil
        = hidden_field_tag "#{resource_name}[#{ids_method}][]", element.id
