.autocomplete-container
  - if field.association.macro == :one
    = self.current_form.hidden_field field.association.key
    = render_component *field.build(:state => "input", :with_value => true)
  - else
    - ids_method = field.name.to_s.match(/_ids$/) ? field.name : "#{field.name.to_s.singularize}_ids"
    = hidden_field_tag "#{resource_name}[#{ids_method}][]",""
    = render_component *field.build(:state => "input")
    %ul
      - resource.persisted? && resource.send(field.name).each do |record|
        %li
          = record.send(field.current_text_method(field.association.klass))
          = link_to I18n.t("lolita.shared.delete").downcase, nil
          = hidden_field_tag "#{resource_name}[#{ids_method}][]", record.id
