<div class="box">
  <%= render_component :"lolita/configuration/list", :title %>
  <%= render_component :"lolita/configuration/list", :new_resource%>
  <%= render_component :"lolita/configuration/list", :filter, :list => list %>
  <div class="list">
    <table>
      <%= render_component :"lolita/configuration/list", :header, :columns=>list.columns %>
      <%= render_component :"lolita/configuration/list", :body, :page=>page,:columns=>list.columns %>
    </table>
  </div>
  <%= render_component :"lolita/configuration/list", :paginator,:page=>page, :columns=>list.columns %>
</div>