<%#
# SIA ITHouse
# Artūrs Meisters
# mainīgie:
# @form_type (saņem no kontroliera) - vajadzīgs lai šablonu nostilotu priekš e-pārvaldnieka vajadzībām
%>
<%= list_start_tags %>
<div class="box">
  <div class="top">
    <div class="fl big blue"><%=t(:"error log.form") %></div>
    <div class="fr"></div>
  </div>
  <br class="clear" />
  <div class="hr"></div>
  <div class="warnbox">
    <%=error_messages_for_cms @errors %>
  </div>
  <div class="leftside">
    <form method="POST" class="split" action="/error_log/form" >
      <input type="hidden" name="object[submitter]"  value="<%= session[:user].login %>"/>
      <div style="float:left;width:300px;"><%= t(:"error log.system url") %></div>
      <input name="object[url]" style="width:400px;" type="text" value="<%= @object[:url] %>" ><br/><br/>
      <div style="float:left;width:300px;"><%= t(:"error log.description")%><sup>*</sup></div>
      <textarea name="object[steps]" cols="48" rows="10" ><%= @object[:steps]%></textarea><br/><br/>
      <br class="clear" />
      <div class="fl"><sup>*</sup> &mdash;<sup class="detail"><%=t(:"system.mandatory fields")%></sup></div>
      <br class="clear" />
      <div class="fr mr" style="padding-right:335px;padding-top:10px;" ><input class="request-btn" type="submit" value="<%="#{t(:"error log.send")}!"%>"/></div>
      <br class="clear"/>
    </form>
  </div><!--[if !IE]>leftside<![endif]-->
</div>
<%= list_end_tags %>
