<%#
SIA ITHouse
Gatis Tomsons
2010.18.2 16:54:56
-%>
<div id="page_content_container">
  <div class="box">
    <div class="top">
      <div class="fl big blue">
        <%= t ".title" %>
      </div>
    </div>
    <div class="clear"></div>
    <hr />
    <h4><%= t ".download_title" %></h4>
    <p><%= raw t(".download_text") %></p>
    <p><%= link_to image_tag("/lolita/images/icons/zip.png") + " locales.zip", :format => "zip" %></p>
    <h4><%= t ".status_title" %></h4>
    <p><%= raw t(".status_text") %></p>
    <pre><%= @locale_status_report %></pre>
  </div>
</div>