<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.31.3, 14:23:07
%>

<div class="box-t sidebox"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
<div class="min-height-box">&#160;</div>
<div class="inner">
  <h1><%= t(:"business.sidebox_title") %></h1>
  <p>
    <span id="user-count"><%= @count %></span><%= hidden_field_tag "business[count]", @count, {:id => 'count'}  %>
    <span id="user-text"><%= t(:"business.people") %></span>
    <span id="equal-sign">=</span> <%= text_field_tag "business[price]", number_with_precision(@price,2), {
                                      :id => 'price',
                                      :onfocus => "this.select();",
                                      :onblur => "if(!this.value > 0){calculate_user_count();}",
                                      :onkeyup => "calculate_user_count();",
                                      :autocomplete => "off",
                                      :alt => number_with_precision(@price,2)
                                    }  %>
      <span id="side-currency"><%= t(:"business.currency") %></span>
  </p>
  <% if(!@readonly) %>
  <p class="side-set-your-money"><a id="side-set-your-money" href="#" onclick="$('price').focus(); return false;"><%= t(:"business.set_your_money") %></a></p>
  <% end %>
  <br class="clear"/>
</div><br class="clear"/></div></div></div></div></div></div></div>
</div>
<ul id="sidelist">
  <li class="advert"><h1><%= link_to t(:"business.advert_ideas"), advert_ideas_url %></h1></li>
  <li class="pdf"><p><%= link_to t(:"business.sms_marketing"), "/smsbuzz_presentation_#{session[:locale]}.pdf" %></p></li>
  <li class="phone"><h1 class="nr"><%= t(:"business.nr") %></h1><h1 class="email"><a href="mailto:<%= t(:"business.email") %>"><%= t(:"business.email") %></a></h1></li>
</ul>