<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.31.3, 15:20:31
%>
<div class="box-t"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
<div class="min-height-box">&#160;</div>
<div class="inner top-box">
  <ul>
    <li id="first-step"<%= (active == 1)? ' class="active"' : '' %>><%= t(:"business.step_1") %></li>
    <li id="second-step"<%= (active == 2)? ' class="active"' : '' %>><%= t(:"business.step_2") %></li>
    <li id="third-step"<%= (active == 3)? ' class="active"' : '' %>><%= t(:"business.step_3") %></li>
  </ul>
</div></div></div></div></div></div></div></div>
</div>