<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.30.1, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>300, :sort_column=>"msg" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for idea in @page %>
    <tr>
      <td><%= edit_link(:title=>idea.msg[0,50], :id=>idea.id) %>...</td>
      <td><%= destroy_link(:image=>true,:id=>idea.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>