<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="lv" xmlns="http://www.w3.org/1999/xhtml"><head>
    <%  domain=not_main_portal?
    if params[:controller]=="cms/start_page" && params[:action].to_s=="show" && domain && domain.good_category
      md=domain.good_category.meta_data
    end
    @current_category=domain.good_category if domain && domain.good_category
  %>
    <title><%=kriminal_public_page_title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="verify-v1" content="IIDdV9uBuj3P8j09x1kqPeUSS5FEHRIVIGsLQoQzKdo=" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="<%= md ? md.description : meta_description %>" />
    <meta name="keywords" content="<%= md ? md.tags : meta_keywords %>" />
    <meta name="title" content="<%= md ? md.title :  meta_title %>" />
    <meta name="language" content="ru" />
    <% unless @start_page %>
      <%= stylesheet_link_tag 'public/main' %>
    <% end %>
    <%= stylesheet_link_tag 'public/kriminal/polls','public/kriminal/kriminal' %>
    <%= yield :stylesheet %>
    <!--[if lte IE 7]>
        <link href="stylesheets/public/ie.css" rel="stylesheet" type="text/css">
    <![endif]-->
    <!--[if IE6]><%= javascript_include_tag 'public/pngfix.js' %><![endif]-->
    <%= javascript_include_tag 'public.js','jquery/jquery-1.3.2.min.js',
      'public/css_browser_selector.js','public/flash_detect.js','flash_loader.js',:cache => "kriminal_cached" %>
    <%= yield :javascript %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/telegraf.ico" />
  </head><body>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-342955-7");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <div id="wrapper">
      <div id="header">
        <div id="headtop-banner"><div><%= openx_banner 16, @current_category %></div></div>
        <div id="head-top">
          <%= link_to t(:"public.back to home"), home_url, :id=>"to-home"%>
          <% if flash[:error] && flash[:error].is_a?(Hash)%>
            <p class="error"><strong><%= flash[:error][:login] ?  "#{t(:"simple words.error")}!" : "" %></strong> <%=flash[:error][:login]  %></p>
          <% end %>
          <form id="search-form" method="post" action="/search">
            <fieldset>
              <legend>Search form</legend>
              <input id="top_search_field" name="q" value="<%=t(:"actions.search")%>" type="text" />
              <button type="submit"><%= t(:"actions.find")%></button>
              <script type="text/javascript">
                addInputDefaultValueListeners("#top_search_field",'<%=t(:"actions.search")%>')
              </script>
            </fieldset>
          </form>
          <% unless Admin::User.access_to_area?(session) %>
            <form id="logon-form" method="post" action="/login" onsubmit="if(!allow_submit('#top_login_password')){alert('<%=t(:"public.password obligation")%>');return false;}">
              <fieldset>
                <legend>Logon form</legend>
                <input id="top_login_name" value="<%=t(:"user.login name")%>" name="login" type="text" />
                <input id="top_login_password" value="" name="password" type="password" />
                <label for="remember_me"><%=t(:"public.remember me")%></label><input type="checkbox" class="remember-me" name="remember_me" id="remember_me"/>
                <button class="btn" type="submit"><%=t(:"user.login")%></button>
              </fieldset>
            </form>
            <form action="<%= signup_url %>" method="get" class="top-register" >
              <button type="submit" class="light"><%= t(:"user.registration") %></button>
            </form>
            <script type="text/javascript">
              //<![CDATA[
              addFieldSyncListners("#top_login_name","#top_login_password")
              addInputDefaultValueListeners("#top_login_name",'<%=t(:"user.login name")%>')
              //]]>
            </script>
          <% else %>
            <div class="top-authorized">
              <%=link_to t(:"user.profile"),:controller=>"/user/profile" %><%=link_to t(:"user.logout"),:controller=>"/logout" %>
            </div>
          <%end%>
          <div class="clr"><!-- clear --></div>
        </div>
        <div id="logo-block">
          <p class="today"><%= full_date %></p>
          <h1 id="logo"><a href="http://<%=request.host%>"><span>Kriminal</span></a></h1>
        </div>
        <div id="rules-block">
          <%= image_tag("kriminal/kriminal-rules-ico.gif", :alt=>"ico") %>
          <% law_text=Cms::TextPage.find_by_name("Латвийское законодательство на русском") %>
          <h2><%= link_to t(:"kriminal.latvian laws"),law_text ? info_url(get_id(law_text)) : "/" %></h2>
          <p><%=t(:"kriminal.latvian laws comment")%></p>
        </div>
        <div class="clr"><!-- clear --></div>
        <%= render :partial=>"cms/start_page/kriminal_menu" %>
        <div id="rss"><%=feed_link%></div>
        <div class="clr"><!-- clear --></div>
      </div>
      <div <%=@start_page ? 'id="left-sb-bg"':'id="left_content" class="left-bcol-wide"'%>>
        <%= yield :left %>
        <%= yield :content %>
        <%= yield :middle %>
        <%= yield :right_startpage %>
        <% if @start_page %>
          <div id="right-sidebar">
            <%= yield :right_top %>
            <%= render :partial=>"cms/start_page/kriminal_right_side"  %>
          </div>
        <% end %>
      </div>
      <% unless @start_page %>
        <div class="right-bcol">
          <%= yield :right_top %>
          <%= render :partial=>"cms/start_page/kriminal_right_side"  %>
        </div>
      <% end %>
      <div id="footer">
        <%= render :partial=>"cms/start_page/kriminal_menu" %>
        <div class="clr"><!-- clear --></div>
        <%= render :partial=>"cms/start_page/kriminal_footer" %>
        <div class="clr"><!-- clear --></div>
      </div>
      <script src="http://p5.r0.audxch.com/partners/universal/in?pid=167"
              type='text/javascript' language='JavaScript'>
      </script>
    </div>
  </body></html>