<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
    <meta HTTP-EQUIV="EXPIRES" CONTENT="01 Jan 1970 00:00:00 GMT"/>
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%=Admin::Configuration.get_value_by_name('system_title')%></title>
    <%= stylesheet_link_tag 'admin/default', 'cms','admin/user'%>

    <link rel="stylesheet" type="text/css" media="screen" href="/javascripts/yui/build/assets/skins/sam/container.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/javascripts/yui/build/assets/skins/sam/menu.css" />
    <%= javascript_include_tag "cms/ith.js" %>
    <%= javascript_include_tag 'cms/simple_functions.js' %>
    <%= javascript_include_tag 'application.js' %>
  </head>
  <body class=" yui-skin-sam" <%= (defined?(GMAPS_KEY) ? 'onunload="GUnload()"' : "")%>>
    <div id="body" >
      <%= render :partial=>"cms/header" %>
      <div class="bigbox" style="width:1000px" id="content">
        <div id="flash"></div>
        <%= yield  %>
      </div>
      <br class="clear" />
      <div class="hr footer">
        <div class="fr small">
          &copy; 2008 <a href="http://www.ithouse.lv" class="blue">IT House</a>
        </div>
      </div><!--[if !IE]>footer<![endif]-->
    </div>
  </body>
</html>
