<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= public_page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'public/main','public/polls' %>
    <%= yield :stylesheet %>
    <!--[if IE6]><%= javascript_include_tag 'public/pngfix.js' %><![endif]-->
    <%= javascript_include_tag 'public.js','jquery/jquery-1.3.2.min.js',
      'public/css_browser_selector.js','public/flash_detect.js','flash_loader.js',:cache => "cached" %>
    <%= yield :javascript %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/telegraf.ico" />
    <meta name="verify-v1" content="vbUC9Cdt3GJSqD0MmEvPU6T0aspB45hQ8P/OiE6X3po=" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="<%= meta_description %>" />
    <meta name="keywords" content="<%= meta_keywords %>" />
    <meta name="title" content="<%= meta_title %>" />
    <meta name="language" content="ru" />
    <script type="text/javascript">
      try{if(!ITH){ ITH={}}}catch(e){ITH={}}
      ITH.CommentLimit=<%=Cms::Comment.votes_limit%>
    </script>
  </head>
  <body><div class="content-centered">
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-342955-4");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
      <div id="header">
        <div id="headtop-banner"><div><%= openx_banner 1, @current_category %></div></div>
        <% if flash[:error] && flash[:error].is_a?(Hash)%>
          <div id="headtop-err">
            <% if flash[:error]  %>
              <div class="top-search"><strong><%= flash[:error][:search] ? "#{t(:"simple words.error")}!" : ""%></strong> <%= flash[:error][:search] %></div>
              <div class="top-login"><strong><%= flash[:error][:login] ?  "#{t(:"simple words.error")}!" : "" %></strong> <%=flash[:error][:login]  %></div>
            <% end %>
            <div class="clear" ></div>
          </div>
        <% end %>
        <div id="headtop">
          <div id="headtop_stretcher"></div>
          <%= link_to t(:"public.back to home"), home_url, :id=>"to-home"%>
          <div class="top-spacer">
            <form action="/search" method="get" class="top-search" >
              <input id="top_search_field" type="text" name="q" value="<%=t(:"actions.search")%>" /><button type="submit"><%= t(:"actions.find")%></button>
              <script type="text/javascript">
                addInputDefaultValueListeners("#top_search_field",'<%=t(:"actions.search")%>')
              </script>
            </form>
            <%= render :partial=>"admin/public_user/login" %>
          </div>
        </div>

        <div id="headmain">
          <% main_domain=Admin::Portal.find_by_root(true) %>
          <%=link_to(image_tag("logo.png",:title=>"Telegraf"),main_domain ? "http://#{main_domain.domain}" : "/",{:id=>"logo"})%>
          <%= weather_image_tag %>
          <div class="date"><%= full_date %> </div>
          <% cache "aggregators" do %>
            <div id="widgets">
              <div class="widget first">
                <% if tw = todays_weather %>
                  <div class="title"><%=  t(:"widgets.weather.title") %></div>
                  <ul>
                    <li>
                      <label><%=  t(:"widgets.weather.day") %>:</label>
                      <span><%=(tw[:"min day temp"]==tw[:"max day temp"] ? tw[:"min day temp"]+"<sup>o</sup>" : tw[:"min day temp"]+"<sup>o</sup>"+'..'+tw[:"max day temp"]+"<sup>o</sup>")%> <%= t(:"widgets.weather.temperature unit") %></span>
                    </li>
                    <li>
                      <label><%=  t(:"widgets.weather.night") %>:</label>
                      <span><%=(tw[:"min night temp"]==tw[:"max night temp"] ? tw[:"min night temp"]+"<sup>o</sup>" : tw[:"min night temp"]+"<sup>o</sup>"+'..'+tw[:"max night temp"]+"<sup>o</sup>")%> <%= t(:"widgets.weather.temperature unit") %></span>
                    </li>
                    <li>
                      <label><%= t(:"widgets.weather.wind") %>:</label>
                      <span><%= translate_wind_direction(tw[:"wind direction"])%> <%=tw[:"wind strength"]%> <%= t(:"widgets.weather.wind strength unit") %></span>
                    </li>
                  </ul>
                <% end %>
              </div>
              <div class="widget narrow">
                <% if ter = todays_exchange_rates %>
                  <div class="title"><%=  t(:"widgets.exchange rates.title") %></div>
                  <ul class="short-label">
                    <% ter.each{ |name, data| %>
                      <li class="<%= (data[:direction]>0 ? "up" : (data[:direction]<0 ? "down" : ""))%>">
                        <label><%= name %></label><span><%= data[:value] %></span>
                      </li>
                    <% } %>
                  </ul>
                <% end %>
              </div>
              <div class="widget narrow">
                <div class="title"><%=  t(:"widgets.names day.title") %></div>
                <p>
                  <% ndays = Cms::NamesDay.todays_names('lv')+Cms::NamesDay.todays_names('ru')
                  ndays.each{ |nday| %>
                    <span><%= nday.name+(nday != ndays.last ? ", " : "") %></span>
                  <% } %>
                </p>
              </div>
            </div>
          <% end %>
        </div>

        <div id="headbottom">
          <div id="rss"><%=feed_link%></div>
          <div id="menus">
            <div class="first-level">
              <%= render :partial=>"cms/start_page/menu", :object=>{} %>
            </div>
            <br class="clear" />
          </div>
        </div>
      </div>
      <%= yield :top %>
      <div id="big_dark_gray_line"></div>
      <div id="body">
        <div id="left_content" class="left-bcol-wide <%= yield :class_name %>">
          <%= yield :left %>
          <%= yield :middle %>
        </div>
        <div class="right-bcol">
          <% cache "cloud" do %>
            <%= openx_banner 5, @current_category %>
            <div class="tag-cloud">
              <div class="tags">
                <%= render :partial=>"cms/tag/cloud" %>
              </div>
            </div>
            <%= openx_banner 14, @current_category %>
            <%= openx_banner 7, @current_category %>
          <% end %>
          <% if blog_news=Cms::News.newest(1,:conditions=>["is_blog=?",true]).first %>
            <div class="blog">
              <div class="title bg-light-blue"><%= link_to t(:"public.newest in blogs"), blogs_url(1)%></div>
              <div class="author">
                <% photo=blog_news.author.photo  %>
                <%= photo ? image_tag(photo.url(:portrait),:alt=>"") : "" %>
                <% name_parts=blog_news.author_name.split(" ") %>
                <div class="name"><%=link_to name_parts.first,blog_link(blog_news.author)%></div>
                <% name_parts.shift
                surname=name_parts.join(" ")
              %>
                <div class="surname" style="<%= surname.chars.size>8 ? "font-size:#{20-((surname.chars.size-8)*2)}px" : "" %>"><%= link_to  surname,blog_link(blog_news.author)%></div>
                <br class="clear"/>
                <h1><%=link_to blog_news.title, news_url(get_id(blog_news))%></h1>
                <div class="description">
                  <%= blog_news.author ? blog_news.author.ocupation : ""  %>
                </div>
                <div class="clear"></div>
              </div>
              <div class="content">
                <p><%= blog_news.introduction %></p>
              </div>
              <%=comments_link(blog_news)%><div class="clear"></div>
            </div>
          <% end %>
          <%= openx_banner 6, @current_category %>
          <%= openx_banner 15, @current_category %>
          <% if active=Cms::Question.active(@current_category) %>
            <div class="poll poll-result poll-result-small" id="poll_container">
              <% if cookies[:"question#{active.id}"] || active.has_answered?(session[:p_user]) %>
                <%= render :partial=>"cms/question/disabled",:object=>{:question=>active} %>
              <% else %>
                <%= render :partial=>"cms/question/enabled",:object=>{:question=>active} %>
              <% end %>
            </div>
            <br style="clear:both"/>
          <% end %>
          <%= openx_banner 13, @current_category %>
          <%= render :partial=>"cms/start_page/services" %>
          <%= openx_banner 11, @current_category %>
          <%= openx_banner 11, @current_category %>
          <%= openx_banner 12, @current_category %>
        </div>
      </div>
      <div id="footer">
        <div id="bottom-menus">
          <%= render :partial=>"cms/start_page/menu", :object=>{:bottom=>true} %>
        </div>
        <%= render :partial=>"cms/start_page/footer" %>
        <div class="clear"></div>
      </div>
      <script src="http://p5.r0.audxch.com/partners/universal/in?pid=165"
              type='text/javascript' language='JavaScript'>
      </script>
    </div>
  </body>
</html>
