<%#
# SIA Lolita
# Artūrs Meisters
%>
<%
  role||=nil
  access||=nil
  collection=if access
    Admin::Role.find(:all,:conditions=>["name!=?",Admin::Role.admin])
  else
    Admin::Access.all
  end
%>
<div class="admin-list">
  <table>
    <tr>
      <th style="font-size:10px;width:auto;"><%=t(:"lolita.admin.access.list.title")%></th>
      <th style="font-size:10px;width:50px;"><%=t(".all")%></th>
      <th style="font-size:10px;width:50px;"><%=t(".read")%></th>
      <th style="font-size:10px;width:50px;"><%=t(".write")%></th>
      <th style="font-size:10px;width:50px;"><%=t(".change")%></th>
      <th style="font-size:10px;width:50px;"><%=t(".destroy")%></th>
    </tr>
    <% for object in collection %>
      <%= render :partial=>"/admin/access/access_row", :locals=>{:role=>access ? object : role,:access=>role ? object : access, :list_type=>access ? :roles : :accesses} %>
    <% end %>
  </table>
</div>
