<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.26.2, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>300, :sort_column=>"name" %>
    <%= list_header_cell :width=>100, :sort_column=>"created_at" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for news in @page %>
    <tr>
      <td><%= edit_link(:title=>news.name, :id=>news.id) %></td>
      <td><%= news.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
      <td><%= destroy_link(:image=>true,:id=>news.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>