<% cfg=file_cfg(new_upload_container) %>
<% if cfg[:media].to_sym==:video_file || cfg[:media].to_sym==:audio_file %>
  <div id="<%=cfg[:media]%>_picture_upload_dialog_container">
    <div class="hd"><%= t(:"media.video_files.dialog header") %></div>
    <div class="bd"></div>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    ITH.Cms.<%=cfg[:media].to_s.camelize%>Dialog=new ITH.MediaPictureUploadDialog("<%=cfg[:media]%>_picture_upload_dialog_container")
    ITH.Cms.<%=cfg[:media].to_s.camelize%>Dialog.createDialog('<%=cfg[:media]%>')
    //]]>
  </script>
<%end%>
<% if new_upload_container[:parent] && new_upload_container[:parent_id] %>
  <div id="<%=cfg[:media]%>-files" class="<%=cfg[:media]%>-files-container">
    <div style="display:block;text-align:right;">
      <% if cfg[:media]=="video_file" && cfg[:with_intro] %>
        <%=t(:"media.video_files.intro")%>: <input type="checkbox" name="intro" id="video_intro_flag"  />
      <% end %>
      <input type="file" name="fileInput" id="<%=cfg[:media]%>fileInput" />
      <script type="text/javascript">
        //<![CDATA[
  <% file_ext=cfg[:media].to_s=="audio_file" ? "*.mp3;*.wav" : (cfg[:media].to_s=="video_file" ? "*.flv;*.mpeg" : "*.*") %>
    //loadjscssfile("/stylesheets/admin/uploadify.css","css")
    $(document).ready(function() {
      <%="#{cfg[:media]}_upload_settings"%>={'sid':'<%=request.session_options[:id]%>'<%= ","+cfg.collect{|k,v| "'#{k}':'#{v}'"}.join(",") %>}
      $('#<%=cfg[:media]%>fileInput').uploadify({
        'uploader': '/lolita/swf/uploader.swf',
        'script': "/<%=cfg[:media]%>/new_create",
        'cancelImg': '/images/cms/cancel.png',
        'simUploadLimit':1,
        'multi':true,
        'fileDesc':"<%=cfg[:media]=="audio_file" ? "Audio Files (#{file_ext})" : cfg[:media]=="video_file" ? "Video Files (#{file_ext})" : "All Files (#{file_ext})"%>",
        'fileExt':"<%=file_ext%>",
        'scriptData':<%="#{cfg[:media]}_upload_settings"%>,
        'displayData':'speed',
        'onError':function(){
          alert("Error!\n Try again or Reload page (Ctrl+R)!")
        },
        'onAllComplete':function(fu,err,a,speed){
          $.ajax({
            type:"get",
            url:"/<%=cfg[:media]%>/refresh",
            data:"<%=cfg.collect{|k,v| "#{k}=#{v}"}.join("&")%>",
            success:function(html){
              $("#<%=cfg[:media]%>_list_container").html(html)
            }
          })
        }
      });
    });
    //]]>
      </script>
      <a href="javascript:startMultifileUpload('<%=cfg[:media]%>',<%=cfg[:media]=="video_file" && cfg[:with_intro] ? "true" : "false"%>)" ><%=t(:"picture.upload file")%></a><br/>
      <a href="javascript:$('#<%=cfg[:media]%>fileInput').uploadifyClearQueue()"><%=t(:"actions.clear").mb_chars.capitalize%></a>
    </div>
    <%= render :partial=>"/file/thumb_files_container", :object=>cfg %>
  </div>
<% end %>
