<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%
# SIA ITHouse
# Artūrs Meisters
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>230, :sort_column=>:login %>
    <%= list_header_cell :width=>230, :sort_column=>:email %>
    
    <%= list_header_cell :width=>70, :title=>t(:"list.options")%>
  </tr>
  <% for public_user in @page %>
    <tr>
      <td><%= edit_link :title=>public_user.login, :id=>public_user.id %></td>
      <td><%= public_user.email %></td>

      <td><% list_options(public_user){|option| %>
          <%= option %>&nbsp;
        <% } %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>

