<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'public/form' %>
  <%= stylesheet_link_tag 'public/profile' %>
<%end%>
<% content_for :left do %>
  <div class="left-bcol-wide">
    <div class="profile">
      <%= render :partial=>'profile_menu'%>
      <form class="classic" action="/admin/public_user/profile" method="post">
        <% if flash[:error] %>
          <div class="err-info"><%=t(:"simple words.error")%>!<br />
            <%=flash[:error]%>.
          </div>
        <%end%>
        <% if flash[:notice] %>
          <div class="notice">
            <%=flash[:notice]%>.
          </div>
        <%end%>
        <% p_errors=error_fields_for(:profile) %>
        <% u_errors=error_fields_for(:user) %>
        <div class="line text"><%=error_marker(p_errors,:first_name)%><label><%=field_title(:"profile.form.first name")%>:</label><div class="input"><%=text_field :profile,:first_name%></div><div class="clear"></div></div>
        <div class="line select"><%=error_marker(p_errors,:sex)%><label><%=field_title(:"profile.form.sex")%>:</label><div class="input">
            <%= select_gender(:profile, :sex, {:include_blank => true}) %>
        </div><div class="clear"></div></div>
        <div class="line select"><%=error_marker(p_errors,:birth_date)%><label><%=field_title(:"profile.form.birth date")%>:</label><div class="input">
            <%= date_select :profile, :birth_date, {:default=>{:year=>Time.now.year-50},:start_year=>Time.now.year-100, :end_year=>Time.now.year,:use_month_names=>month_names(:capitalize=>true), :order=>[:day,:month,:year], :include_blank=>true  } %>
        </div><div class="clear"></div></div>
        <div class="line select"><%=error_marker(p_errors,:country_id)%><label><%=field_title(:"profile.form.location")%>:</label><div class="input">
            <%=select(:profile, :country_id, Cms::Country.find(:all).collect {|c| [ c.name, c.id ] }, {:include_blank =>t(:"notice.not_followed")},{:onchange=>"toggle_profile_information(this)"})%>
        </div><div class="clear"></div></div>
        <div id="district_city_container" style="display: <%= @profile.country_id && @profile.country.is_base_country? ? "block" : "none" %>" >
          <div class="line select"><%=error_marker(p_errors,:district_id)%><label><%=field_title(:"profile.form.district")%>:</label><div class="input">
              <%=select(:profile, :district_id, Cms::District.find(:all,:order=>"name asc").collect {|c| [ c.name, c.id ] }, {:include_blank =>t(:"notice.not_followed")})%>
          </div><div class="clear"></div></div>
<%#
  #        <div class="line select"><%=error_marker(p_errors,:country_id)%#><label><%=field_title(:"profile.form.city")%#>:</label><div class="input">
  #            <%=select(:profile, :city_id, Cms::City.find(:all,:order=>"name asc").collect {|c| [ c.name, c.id ] }, {:include_blank =>t(:"notice.not_followed")})%#>
  #        </div><div class="clear"></div></div>
%>
        </div>
        <div class="line text"><%=error_marker(p_errors,:interests)%><label><%=field_title(:"profile.form.interests")%>:</label><div class="input"><%=text_field :profile,:interests%></div><div class="clear"></div></div>
        <div class="splitter-light-gray"></div>
        <h2><%= t(:"profile.form.contacts") %></h2>
        <div class="line url"><%=error_marker(p_errors,:blog_url)%><label><%=field_title(:"profile.form.blog url")%>:</label><span>http://</span><div class="input"><%=text_field :profile,:blog_url%></div><div class="clear"></div></div>
        <div class="line url"><%=error_marker(p_errors,:home_page_url)%><label><%=field_title(:"profile.form.home page url")%>:</label><span>http://</span><div class="input"><%=text_field :profile,:home_page_url%></div><div class="clear"></div></div>
        <div class="splitter-light-gray"></div>
        <h2><%= t(:"profile.form.mail boxes") %></h2>
        <div class="line text"><%=error_marker(p_errors,:email)%><label><%=field_title(:"profile.form.email")%>:</label><div class="input"><%=text_field :profile,:email%></div><div class="clear"></div></div>
        <div class="line text"><%=error_marker(p_errors,:email_for_comments)%><label><%=field_title(:"profile.form.email for comments")%>:</label><div class="input"><%=text_field :profile,:email_for_comments%></div><div class="clear"></div></div>
        <div class="line checkbox-inside"><%=error_marker(p_errors,:hide)%><div class="input"><%= check_box :profile,:hide%></div><label><%=field_title(:"profile.form.hide")%></label><div class="clear"></div></div>
        <div class="splitter-light-gray"></div>
        <h2><%= t(:"user.password") %></h2>
        <div class="line text"><%=error_marker(u_errors,:old_password)%><label><%=field_title(:"user.old password")%>:</label><div class="input"><input type="password" value="" name="user[old_password]"/></div><div class="clear"></div></div>
        <div class="line text"><%=error_marker(u_errors,:password)%><label><%=field_title(:"user.new password")%>:</label><div class="input"><input type="password" value="" name="user[password]"/></div><div class="clear"></div></div>
        <div class="line text"><%=error_marker(u_errors,:password_confirmation)%><label><%=field_title(:"user.new password confirmation")%>:</label><div class="input"><input type="password" value="" name="user[password_confirmation]"/></div><div class="clear"></div></div>
        <div class="splitter"></div>

        <div class="buttons"><button type="submit" value="save" class="fl"><span><%= t(:"actions.save") %></span></button><button type="submit" value="delete-account" class="btn-red fr"><span><%= t(:"profile.actions.delete") %></span></button><div class="clear"></div></div>
      </form>
    </div>
  </div>
<%end%>