<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.20.2, 08:57
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>20, :sort_column=>"id" %>
    <%= list_header_cell :width=>80, :sort_column=>"name" %>
    <%= list_header_cell :width=>50, :sort_column=>"created_at", :title => "Izveidots" %>
    <%= list_header_cell :width=>50, :sort_column=>"execution_time", :title => "Izpildes laiks" %>
    <%= list_header_cell :width=>30, :sort_column=>"state", :title => "Status" %>
    <%= list_header_cell :width=>30, :sort_column=>"code", :title => "Kods" %>
    <%= list_header_cell :width=>30, :sort_column=>"payment_type", :title => "Apmaksas Tips" %>
    <%= list_header_cell :width=>30, :title => "CSV SMS skaits" %>
    <%= list_header_cell :width=>30, :sort_column=>"final_count", :title => "SMS skaits" %>
    <%= list_header_cell :width=>30, :sort_column=>"final_price", :title => "Cena" %>
    <%= list_header_cell :width=>20, :title=>"" %>
    <%= list_header_cell :width=>20, :title=>"" %>
  </tr>
  <% for rebate in @page %>
    <tr>
      <td><%= rebate.id %></td>
      <td><%= edit_link(:title=>rebate.name, :id=>rebate.id) %></td>
      <td><%= rebate.created_at.strftime("%d.%m.%Y") %></td>
      <td><%= rebate.execution_time.strftime("%d.%m.%Y %H:%M:%S") if rebate.execution_time %></td>
      <td><%= rebate.state %></td>
      <td><%= "<a title=\"#{rebate.get_code_msg}\">#{rebate.transaction_code}</a>" %></td>
      <td><%= rebate.payment_type %></td>
      <td><%= rebate_import_batch_count(rebate) %></td>
      <td><%= rebate.final_count %></td>
      <td><%= number_with_precision(rebate.final_price,2) %></td>
      <td><%= link_to image_tag("/lolita/images/pdf.png") ,:action => 'invoice', :format => 'pdf', :id => rebate.id if rebate.payment_type && rebate.completed? %></td>
      <td><%= destroy_link(:image=>true,:id=>rebate.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>
