<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.23.3, 11:47:58
%>
<% content_for :title do -%><%= t(:"business.page_title") %><% end %>
<% content_for :javascript do -%>
  <%= javascript_include_tag "sexy-lightbox/mootools-yui-compressed" %>
  <%= javascript_include_tag "public" %>
  <%= javascript_include_tag "/reklama/business" %>
  <script type="text/javascript">
    window.onload = function(){
      window.document.getElementsByTagName('select')[0].focus();
      assign_business_events(<%= (!@data.empty?)? '0' : '1' %>);
    };
  </script>
<% end -%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/forms" %>
    <%= stylesheet_link_tag "public/business" %>
<% end -%>
<% content_for :header_text do %><%= t(:"business.subtitle") %><% end -%>
<%# render :partial => "subheader" %>

<%= render :partial => "cms/rebate/steps", :locals => {:active => 1} %>

<% form_tag url_for(), :id => "business_form" do -%>
<div class="box-t midbox"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
<div class="min-height-box">&#160;</div>
<div class="inner">
<%= (!@validator.valid?(:price))? "<div class=\"flash error\">#{t(:"business.price_to_low_error")}</div>" : '' %>
  <table>
    <tbody>
      <tr>
        <th>
          <label for="business_birth_date_from">
            <%= t(:"business.age") %>
          </label>
        </th>
        <td class="col2">
           <%= select :business, :birth_date_from, (3..100).to_a.collect {|v| [v,v]}.insert(0,[t(:"simple words.from"),""]), {:selected => @data.key?(:"birth_date_from")? @data[:birth_date_from].to_i : nil} %>
           <%= select :business, :birth_date_to, (3..100).to_a.collect {|v| [v,v]}.insert(0,[t(:"simple words.to"),""]), {:selected => @data.key?(:"birth_date_to")? @data[:birth_date_to].to_i : nil} %>
        </td>
        <td><%= error_msg @validator.errors(:birth_date_from).join(', '),:id=>"er_business_birth_date_from" unless @validator.valid?(:birth_date_from)  %></td>
      </tr>
      <tr>
        <th>
          <label>
            <%= t(:"profile.step1.sex") %>
          </label>
        </th>
        <td class="col2">
          <%= check_box_tag("business[sex][]", 2, @data.key?(:sex) && @data[:sex].include?('2'), {:id => "business_sex_2", :class => "chbox"}) %>
          <%= label_tag 'business_sex_2', t(:"profile.step1.woman"), :class => :radio %>
          <%= check_box_tag("business[sex][]", 1, @data.key?(:sex) && @data[:sex].include?('1'), {:id => "business_sex_1", :class => "chbox"}) %>
          <%= label_tag 'business_sex_1', t(:"profile.step1.man"), :class => :radio %>
        </td>
        <td><%= error_msg @validator.errors(:sex).join(', '),:id=>"er_business_sex_1" unless @validator.valid?(:sex)  %></td>
      </tr>
      <tr class="one-col-row">
        <th>
          <label for="step2_area">
            <%= t(:"profile.step2.area") %>
          </label>
        </th>
        <td class="region" colspan="2">

          <%= select :business, :area, [[(t :"profile.step2.blank_area"),""]] + Cms::Area.find(:all).collect{|a| [a.name,a.id]}, {:selected => @data.key?(:area)? @data[:area].to_i : nil} , {
            :onchange => "if(this.options[this.selectedIndex].value=='1'){ new Request({url: '#{url_for(:controller => 'region',:action => :get_regions)}/?id='+this.options[this.selectedIndex].value,method: 'get',onComplete: function(response) {$('business_region').set('html',response);}}).get();}else{clear_region();} filter_users();"
          } %>
          <%= select :business, :region, [[(t :"business.blank_region"),""]] + (@data.key?(:area)? Cms::Region.find_all_by_area_id(@data[:area].to_i).collect{|a| [a.name,a.id]} : []),
            {:selected => @data.key?(:region)? @data[:region].to_i : nil},{:onchange => "filter_users();" , :style => "display:none"}
          %>
          <%= link_to(t(:"business.add"),{},{:href=>'#',:class=>'add_region',:onclick => "return add_area()"}) %>
          <br class="clear"/>
          <%= error_msg @validator.errors(:area).join(', '),:id=>"er_business_area" unless @validator.valid?(:area)  %>
          <%= error_msg @validator.errors(:region).join(', '),:id=>"er_business_region" if (@validator.valid?(:area) and !@validator.valid?(:region))   %>
          <div id="areas">

          </div>
      </td>
      </tr>
      <tr class="cols2">
        <th>
          <label for="business_marital_status">
            <%= t(:"profile.step2.marital_status") %>
          </label>
        </th>
        <td colspan="2">
          <%= error_msg @validator.errors(:marital_status).join(', '),:id=>"er_business_marital_status" unless @validator.valid?(:marital_status)  %>
          <% Cms::MaritalStatus.find(:all,:order => "name ASC").each do |item| -%>
              <div class="chbox-item">
                <%= check_box_tag("business[marital_statuses][]", item.id, (@data && @data[:marital_statuses])? @data[:marital_statuses].include?(item.id.to_s) : nil,{:id => "business_marital_statuses_#{item.id}", :class => "chbox"}) %>
                <%= label_tag("business_marital_statuses_#{item.id}",item.name, :class => "chbox") %>
              </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          <label>
            <%= t(:"profile.step2.children") %>
          </label>
        </th>
        <td class="col2">
          <%= check_box_tag "business[children][]", 1, @data.key?(:children)? @data[:children].include?('1') : false, :class=>'chbox', :id => 'business_children_1' %>
          <%= label_tag 'business_children_1', t(:"profile.step2.has"), :class => :radio %>
          <%= check_box_tag "business[children][]", 2, @data.key?(:children)? @data[:children].include?('2') : false, :class=>'chbox', :id => 'business_children_2' %>
          <%= label_tag 'business_children_2', t(:"profile.step2.hasnt"), :class => :radio %>
        </td>
        <td><%= error_msg @validator.errors(:children).join(', '),:id=>"er_business_children_2" unless @validator.valid?(:children)  %></td>
      </tr>
      <tr class="cols2">
        <th>
          <label for="business_education">
            <%= t(:"profile.step2.education") %>
          </label>
        </th>
        <td colspan="2">
          <%= error_msg @validator.errors(:education).join(', '),:id=>"er_business_education" unless @validator.valid?(:education)  %>
          <% Cms::Education.find(:all,:order => "name ASC").each do |item| -%>
              <div class="chbox-item">
                <%= check_box_tag("business[educations][]", item.id, (@data && @data[:educations])? @data[:educations].include?(item.id.to_s) : nil,{:id => "business_educations_#{item.id}", :class => "chbox"}) %>
                <%= label_tag("business_educations_#{item.id}",item.name, :class => "chbox") %>
              </div>
          <% end %>
        </td>
      </tr>
      <tr class="cols2">
        <th>
          <label for="business_job">
            <%= t(:"profile.step2.job") %>
          </label>
        </th>
        <td colspan="2">
           <%= error_msg @validator.errors(:job).join(', '),:id=>"er_business_job" unless @validator.valid?(:job)  %>
           <% Cms::Job.find(:all,:order => "name ASC").each do |item| -%>
              <div class="chbox-item">
                <%= check_box_tag("business[jobs][]", item.id, (@data && @data[:jobs])? @data[:jobs].include?(item.id.to_s) : nil,{:id => "business_jobs_#{item.id}", :class => "chbox"}) %>
                <%= label_tag("business_jobs_#{item.id}",item.name, :class => "chbox") %>
              </div>
            <% end %>
        </td>
      </tr>
      <tr class="cols2">
        <th>
          <label for="business_interests">
            <%= t(:"profile.step2.interests") %>
          </label>
        </th>
        <td colspan="2" class="interests" style="width:420px">
          <%= error_msg(@validator.errors(:interests).join(', ')) unless @validator.valid?(:interests) %>
          <% i = 0 %>
          <% Cms::Interest.find(:all,:order => "name ASC").each do |item| -%>
            <div class="interest" <%= (i % 2 == 0)? ' style="clear:left;"' : '' %>>
              <%= check_box_tag("business[interests][]", item.id, @data.key?(:interests) && @data[:interests].include?(item.id.to_s), {:id => "business_interests_#{item.id}", :class => "chbox"}) %>
              <%= label_tag("business_interests_#{item.id}",item.name, :class => "chbox") %>
            </div>
            <% i += 1 %>
          <% end %>
        </td>
      </tr>
      <tr class="cols2" style="display: none;">
        <th>
          <label>
            <%= t(:"translate.language") %>
          </label>
        </th>

        <td colspan="2" class="interests" style="width:420px">
          <%= error_msg @validator.errors(:locale).join(', '),:id=>"er_business_locale" unless @validator.valid?(:locale)  %>
          <% i=0 %>
          <% LANGUAGES.each_with_index do |lang,id| -%>
              <div class="interest" <%= (i % 2 == 0)? ' style="clear:left;"' : '' %>>
                <% id += 1 %>
                <%= check_box_tag("business[locale][]", lang, @data.key?(:locale) && @data[:locale].include?(lang) || true,{:id => "business_locale_#{id}", :class => "chbox"}) %>
                <%= label_tag("business_languages_#{id}",t(:"languages.#{lang}".to_sym), :class => "chbox") %>
              </div>
              <% i+=1 %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          <%= link_to t('profile.step1.clear_form'), '#', :onClick => "return clear_form()" %>
        </th>
        <td class="submit-row" colspan="2">
          <button type="submit"><span><%= t(:"profile.step1.go1") %></span></button>
        </td>
      </tr>
    </tbody>
  </table>
<br class="clear"/>
</div><br class="clear"/></div></div></div></div></div></div></div>
</div>
<% @count = @data && @data[:count] %>
<% @price = @data && @data[:price] %>
<%= render :partial => "cms/rebate/side" %>
<% end %>
<%# render :partial => "payment_logos" %>