<div id="list-header">
  <h2><%= resource_name.capitalize %></h2>
  <h2 id="add-new">
    <a href="<%=new_lolita_resource_path%>">
      <button type="button"><%= I18n.t("lolita.list.add_new",:name=>resource_name) %></button>
    </a>
  </h2>
</div>
<table class="list">
  <%=render_cell :"lolita/list", :header, :columns=>@list.columns %>
  <%=render_cell :"lolita/list", :body, :page=>@page,:columns=>@list.columns %>
</table>
<%=render_cell :"lolita/list", :paginator,:page=>@page, :columns=>@list.columns %>
