<div class="fr small mtb">
  <%= user_link%> |
  <%= link_to "Ieteikumi", :controller=>"/advice",:action=>"send_advice" %> |
  <%= link_to "Kļūdas pieteikums", :controller=>"/error_log",:action=>"form" %> |
  <%= link_to 'Iziet', :controller => '/admin/user', :action=> 'logout' %>
</div>
<br class="clear" />
<div class="topmenu">
  <div class="l"></div>
  <div class="r"></div>
  <div class="fl big black"><%= link_to "ITHouse CMS", Lolita.config.system(:start_page_url) || "/", {:style=>"color:black;text-decoration:none;"} %></div>
  <div class="fr sections">
   
  </div>
</div><!--[if !IE]>topmenu<![endif]-->
<br class="clear" />