<table summary="<%=params[:controller].split("/").last%>">
  <% @config[:list][:columns]=default_cms_columns unless @config[:list][:columns] %>
  <tr>
    <% @config[:list][:columns].each{|column| %>
      <%= list_header_cell :width=>column[:width], :title=>field_title(column[:title] || @page.parent.human_attribute_name(column[:field])),
      :sort_column=>column[:sortable] || column[:default] ? (column[:sort_field] ? column[:sort_field] : column[:field]) : nil %>
    <%}%>
    <% if @config[:list][:options] %>
      <%= list_header_cell :width=>@config[:list][:options].size*35, :title=>t(:"list.options") %>
    <% end %>
  </tr>
  <% for element in list_default[:page] %>
    <tr>
      <% @config[:list][:columns].each{|column|%>
        <td>
          <%
          value =column[:field].is_a?(Array) ? send_method_array(element,column[:field]) : element.send(column[:field])
          if [ActiveSupport::TimeWithZone,Time,DateTime,Date].include?(value.class) && (column[:localize].nil? || column[:localize] == true)
            value= I18n.localize value, :format => column[:format] || :default
          end
        %>
          <%  if column[:link] %>
            <%= edit_link :id=>element.id,:title=>value %>
          <% else
            if column[:function] %>
              <%= element.send column[:function]%>
            <% else %>
              <%=value%>
            <% end %>
          <%end%>
        </td>
      <%}%>
      <% if @config[:list][:options] %>
        <td>
          <% list_options(element) do |option| %>
            <%= option %>&nbsp;
          <% end %>
        </td>
      <%end%>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list_default  %>