<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'admin/forgot_password'%>
<%end%>
<div class="lg">
  <h2><%="Aizmirsi paroli?"%></h2>
  <div class="indent">
    <div class="txt margin-after" style="<%=flash[:error] ? "color:red !important;" : ""%>"><%= flash[:error] ? flash[:error] : "Ievadiet savu lietotāja vārdu un drošības kodu." %></div>
  </div>
  <% form_tag({:action=>"forgot_password",:controller=>"/admin/user"}) do%>
    <span class="txt">Lietotāja vārds:&nbsp;</span>
    <input type="text" name="user[login]" value=""  />
    <%=human_control  %>
    <div class="submit-container">
      <input type="submit" class="btn" value="<%="Nosūtīt"%>" />
    </div>
  <%end%>
</div>
