<% if (@config[:form] && @config[:form][:b_positions]) || position==:top %>
  <div class="managed-form-submit-container" style="<%=  position==:bottom ? "padding-right:0" : ""%>">
    <% if @config[:do_not_redirect]%>
      <%= back_link :title=>t(:"actions.cancel"),:class=>"blue", :action=>@config[:redirect_to], :params=>{:page=>params[:page]}%>
    <% else%>
      <%= back_link :title=>t(:"actions.cancel"),:class=>"blue",:params=>{:page=>params[:page]}%>
    <% end %> <%= t(:"simple words.or") %>
    <% if @config[:form] && @config[:form][:buttons] %>
      <% if @config[:form][:b_positions].include?(position) %>
        <% if @config[:form][:buttons].include?(:save) %>
          <input type="button" class="btn" onclick='<%=form_submit_action(true)%>' value="<%=t(:"actions.confirm")%>"  />
        <% end %>
        <% if @config[:form][:buttons].include?(:close) %>
          <input type="button" class="btn" onclick='<%=form_submit_action()%>' value="<%=t(:"actions.save")%>"  />
        <% end %>
      <% end %>
    <% else %>
      <input type="button" class="btn" onclick='<%=form_submit_action()%>' value="<%=t(:"actions.save")%>"  />
    <% end %>
  </div>
<% end %>