<%
@metadata||=MetaData.new 
edit_allowed=@metadata.attributes.collect {|key,val| key.to_sym}
if @object && @object.respond_to?(:allow_metadata_edit)
  check=@object.send(:allow_metadata_edit)
  edit_allowed=[] unless check
  if check.is_a?(Hash)
    check.each{|key,val|
      edit_allowed.delete(key) unless val
    }
  end
end
%>
<% if Lolita.config.translation && (params[:action].to_s=~/update|meta_change_language|save_metadata_translation/) && !@metadata.new_record? %>
  <span class='brick'><%= t(:"fields.language",:locale=>@metadata.language_code) %></span>
  <div class="fl">
    <%= all_languages("meta_translation_locale",@metadata) %>
  </div>
  <script type="text/javascript">
    //<![CDATA[
  <% if @notice %>
      show_notice('<%=@notice%>')
  <% end %>
    $("#meta_flash_notice").fadeOut(2500)
    observe_languages("#meta_translation_locale",<%=tab.to_i%>,"<%=url_for(:action=>"meta_change_language")%>","<%="id=#{@object.id}&tab=#{tab}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")
    //]]>
  </script>
<% end %>
<% [:url,:title,:tags].each{|field| %>
  <span class="brick"><%= MetaData.human_attribute_name(field,:locale=>@metadata.language_code)%> </span>
  <div class="fl">
    <%= field_render 'text',{:field=>field,:object=>:metadata,:html=>{:maxlength=>255,:disabled=>!edit_allowed.include?(field.to_sym)}} %>
  </div>
<%}%>

<% if Lolita.config.translation %>
  <% unless @metadata.new_record? || @metadata.language_code==Globalize::Locale.base_language.code %>
    <br/>
    <input type="button" onclick='save_metadata_translation(["url","title","tags","description"],<%=tab%>,"<%=url_for(:action=>"save_metadata_translation")%>","<%="id=#{@object.id}&tab=#{tab}&meta_translation_locale=#{@metadata.language_code}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")' value="<%=t(:"actions.save translation")%>" />
  <% end %>
  <% if params[:action].to_s=~/meta_change_language|save_metadata_translation/ #need only when reloading via ajax %>
    <div class="clear"></div>
    <div></div>
  <% end %>
<% end %>