<%#
# SIA ITHouse
# Artūrs Meisters
%>
<% if LOLITA_TRANSLATION && (params[:action].to_s=~/update|meta_change_language|save_metadata_translation/) && !@metadata.new_record? %>
  <span class='brick'><%= t(:"fields.language",:locale=>@metadata.language_code) %></span>
  <div class="fl">
    <%= all_languages("meta_translation_locale",@metadata) %>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    <% if flash[:notice] %>
      show_notice('<%=flash[:notice]%>')
    <% end %>
    $("#meta_flash_notice").fadeOut(2500)
    observe_languages("#meta_translation_locale",<%=tab.to_i%>,"<%=url_for(:action=>"meta_change_language",:locale=>nil)%>","<%="id=#{@object.id}&tab=#{tab}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")
    //]]>
  </script>
<% end %>
<span class="brick"><%= t(:"metadata.fields.url",:locale=>@metadata.language_code)%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'url',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick"><%= t(:"metadata.fields.name",:locale=>@metadata.language_code)%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'title',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick"><%= t(:"metadata.fields.keywords",:locale=>@metadata.language_code)%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'tags',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick" style="float:none;display:block;padding-top:5px;"><%= t(:"metadata.fields.description",:locale=>@metadata.language_code)%> </span>
<div class="fl" >
  <%= field_render 'textarea',{:field=>'description',:object=>:metadata,:class=>'meta_data_textarea' } %>
</div>

<% unless @metadata.new_record? || @metadata.language_code==Globalize::Locale.base_language.code %>
  <br/>
  <input type="button" onclick='save_metadata_translation(["url","title","tags","description"],<%=tab%>,"<%=url_for(:action=>"save_metadata_translation")%>","<%="id=#{@object.id}&tab=#{tab}&meta_translation_locale=#{@metadata.language_code}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")' value="<%=t(:"actions.save translation")%>" />
<% end %>
<% if params[:action].to_s=~/meta_change_language|save_metadata_translation/ #need only when reloading via ajax %>
  <div class="clear"></div>
  <div></div>
<% end %>