<%#
# SIA ITHouse
# Artūrs Meisters
%>
<% if LOLITA_TRANSLATION && (params[:action].to_s=~/update|meta_change_language/) && !@metadata.new_record? %>
  <span class='brick'><%= t(:"fields.language") %></span>
  <div class="fl">
    <%= all_languages("meta_translation_locale",@metadata) %>
  </div>
  <script type="text/javascript">
    observe_languages("#meta_translation_locale",<%=tab.to_i%>,"<%=url_for(:action=>"meta_change_language",:locale=>nil)%>","<%="id=#{@object.id}&tab=#{tab}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")
  </script>
<% end %>
<span class="brick"><%= t(:"metadata.url")%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'url',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick"><%= t(:"metadata.name")%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'title',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick"><%= t(:"metadata.keywords")%> </span>
<div class="fl">
  <%= field_render 'text',{:field=>'tags',:object=>:metadata,:maxlength=>255} %>
</div>

<span class="brick" style="float:none;display:block;padding-top:5px;"><%= t(:"metadata.description")%> </span>
<div class="fl" >
  <%= field_render 'textarea',{:field=>'description',:object=>:metadata,:class=>'meta_data_textarea' } %>
</div>

<% unless @metadata.new_record? || @metadata.language_code==Globalize::Locale.base_language.code %>
  <br/>
  <input type="button" onclick='save_metadata_translation(["url","title","tags","description"],<%=tab%>,"<%=url_for(:action=>"save_metadata_translation")%>","<%="id=#{@metadata.id}&tab=#{tab}&authenticity_token=#{CGI::escape(form_authenticity_token)}"%>")' value="<%=t(:"actions.save translation")%>" />
<% end %>
<% if params[:action].to_s=="meta_change_language" #need only when reloading via ajax %>
  <div class="clear"></div>
  <div></div>
<% end %>