<%
# Izveido laukus, rakstīšanai vai lasīšanai
# Atkarībā no vajadzībā pievieno TinyMce (ja ir kāds lauks ar tipu textarea)
# Pievieno no parametriem visas tās vertības kuru atslēgas atbilds _id
%>
<% if is_field?(:textarea,tab) && !@read_only%>
  <%= render :partial=>"/managed/tinymce" %>
<% end %>
<% fields=fields_for_tab(tab).clone %>
<%  if  fields &&  fields.respond_to?('each') %>
  <% fields.each do |field| %>
    <% value=field
    value[:object]=@config[:tabs][tab][:object]
  %>
    <% if can_edit_field?(value)%>
      <% type=value[:type] %>
      <% if value[:title] && value[:title].is_a?(String)
        title=value[:title]
      else
        title=field_title(@object.class.human_attribute_name(value[:field]))
      end
    %>
      <div class="managed-create-line">
        <% if @read_only %>
          <%= content_tag "span",title, {:id=>"#{value[:object] || :object}_#{value[:field]}_title",:class=>"brick"}.merge(value[:title_html] || {}) %>
          <div class="fl">
            <span class='brick'><%= field_render_for_reading type,value %></span>
          </div>
        <% else %>
          <% if value[:type].to_sym!=:hidden %>
            <%= content_tag "span",title, {:id=>"#{value[:object] || :object}_#{value[:field]}_title",:class=>"brick", :style=>type=='textarea' ? 'float:none;display:block;padding-top:5px;' : ""}.merge(value[:title_html] || {}) %>
          <% end %>
          <div class="fl">
            <%= field_render type,value %>
          </div>
        <% end %>
      </div>
    <% end
  end
end
%>
<% related_parents{|key,value|%>
  <input type="hidden" name="<%=key%>" value="<%=value%>" />
<%}%>
