<%#
# Artūrs Meisters <%remote_form_for :object, @object,:complete=>"$('content').update(request.responseText)",:url=>"/#{@namespace}/#{@config[:object_name]}/#{@act}"+((@parent_id)?"?#{@linked_field.to_s}=#{@parent_id}":"") do |f|%>
<% # 2008.03.16
#inline vairs netiek izmantots tam tiks izveidots speciāls js(īgs) interfeiss
%>
<% tempid=rand %> 
<div class="bigbox" id='object_edit_container_<%= tempid %>'>
  <%= list_start_tags %>
  <div class="box">
    <div class="top">
      <div class="fl big blue"><%= cms_title params[:controller] %></div>
    </div>
    <br class="clear" />
    <div class="hr"></div>
    <div class="warnbox">
      <%= error_messages_for_cms :object %>
    </div>
    <%= cms_flash_box %>
    <% if is_field?('textarea') && !@read_only%>
      <div class=" yui-skin-sam">
        <!-- div priekš attēlu galerijas lai yahoo var to izmantot-->
        <div id="media_gallery"  >
          <div class="hd"><%= t(:"media.dialog_title") %></div>
          <div class="bd">
            <div id="media_gallery_container">
            </div>
          </div>
        </div>
      </div>
      <div class=" yui-skin-sam">
        <!-- div priekš lapas kartes lai yahoo var to izmantot-->
        <div id="content_map"  >
          <div class="hd"><%= t(:"content_map.dialog_title") %></div>
          <div class="bd">
            <div id="content_map_container">
            </div>
          </div>
        </div>
      </div>
    <%end %>
    <% all_fields=create_fields_for_js(tabs_fields(nil,:in_form=>true,:with_object=>true)).to_json() %>
    <script type="text/javascript">
      addFormCleaner("#object_form",<%= raw all_fields %>)
    </script>
    <div class="managed-form-submit-container">
      <% if @config[:do_not_redirect]%>
        <%= back_link :title=>t(:"actions.cancel"),:class=>"blue", :action=>@config[:redirect_to], :params=>{:page=>params[:page]}%>
      <% else%>
        <%= back_link :title=>t(:"actions.cancel"),:class=>"blue",:params=>{:page=>params[:page]}%>
      <% end %> <%= t(:"simple words.or") %>
      <input type="button" class="btn" onclick='<%=form_submit_action()%>' value="<%=t(:"actions.confirm")%>"  />
    </div>
    <div class="tabsheet">
      <div class="tabswitch">
        <% tab_headers do |header| %>
          <%= header %>
        <% end %>
      </div><!--[if !IE]>tabswitch<![endif]-->
      <div class="tabarea">
        <% add_fields_html do |f_html| %>
          <%= f_html %>
        <%end%>
        <% tabs {|tab|%>
          <%= tab %>
        <%}%>
        <% form_for(:object,@object,:url=>"/#{@config[:object_name]}/#{params[:action]}",:html=>{:id=>"object_form"}){ |f|%>
          <input type="hidden" value="<%=@object.id unless @object.new_record?%>" name="id"/>
          <input type="hidden" value="<%=@config[:object_name]%>" id="simple_object_name" name="simple_object_name"/>
          <% tabs(:in_form=>true){|tab|%>
            <%= tab %>
          <%}%>
          <% if params[:menu_item_id] %>
            <input type="hidden" value="<%= params[:menu_item_id]%>" name="menu_item_id"/>
          <% end %>
          <input type="hidden" value="<%= params[:page] %>" name="page"/>
        <% } %>
      </div><!--[if !IE]>tabarea<![endif]-->
    </div><!--[if !IE]>tabsheet<![endif]-->
  </div><!--[if !IE]>box<![endif]-->
  <%= list_end_tags %>
</div>
<br class="clear" /><br />