<%#
# Artūrs Meisters <%remote_form_for :object, @object,:complete=>"$('content').update(request.responseText)",:url=>"/#{@namespace}/#{@config[:object_name]}/#{@act}"+((@parent_id)?"?#{@linked_field.to_s}=#{@parent_id}":"") do |f|%>
<% # 2008.03.16
%>
<% tempid=rand %>  

  <div class="<%= @config[:inline] ? "in" : "" %>bigbox" id='object_edit_container_<%= tempid %>'>
  <%= list_start_tags %>
  <div class="box">
    <% unless @config[:inline] %>
      <div class="top">
       <div class="fl big blue"><%= cms_title if !@config[:inline] %></div>
      </div>
      <br class="clear" />
      <div class="hr"></div>
        <%= "Elementu pievienošana vai labošana."%><%="Galvenās sadaļas ir sakārtotas cilnē."%>
        <%= "Tulkošanas cilne ir pieejama tikai labošanas režīmā."%><%= "Tajā izvēlieties vienu valodu, uz kuru vēlaties tulkot.>
        <%= "Izmaiņas, kas ir veiktas 'Satura' cilnē netiks saglabātas, ja ir veikta tulkošana."%>
        <%= "Vienlaikus iespējams veikt tulkošanu vienā valodā."%>
        <%= "Ja vēlaties atcelt tulkošanu, tad nomainiet valodu uz bāzes valodu (pēc noklusējuma latviešu).>
        <%= "Attēli un faili tiek saglabāti automātiski."%><%= "Ja Jūs veicas tikai failu/attēlu augšupielādi, tad nav nepieciešams veikt saglabāšanu (labošanas režīmā).>
      <br class="clear" /><br />
    <% end %>

    <div class="warnbox">
     <%= error_messages_for_cms :object %>
    </div>
    <br class="clear" />

    <% if !flash[:notice].nil? %>
    <div class="greenbox">
     <div class="l">
      <div class="r">
        <%= flash[:notice] %>
      </div>
     </div>
    </div>
    <br class="clear" />
    <% end %>
    
    <div class="<%= @config[:inline] ? "in" : "" %>tabsheet">
      <div class="tabswitch">
        <%= tab_header 'Saturs:index=>0,:current=>true %>
        <%= tab_header 'Meta dati:index=>1%>
        <% if @act=='edit' %>
            <%= tab_header 'Tulkošana:index=>2%>
        <% end %>
        <% if @config[:map] %>
          <%= tab_header 'Karte:index=>3%>
        <%end %>
        <% if @show_pictures %>
          <%= tab_header 'Attēli:index=>4%>
        <%end%>
        <% if @show_files %>
          <%= tab_header 'Faili:index=>5%>
        <%end %>
      </div><!--[if !IE]>tabswitch<![endif]-->
      <div class="tabarea">
      <% if @show_pictures %>
      <div id="tab4container"  name='tab_content'  style="display:none;">
        <%= render :partial=>'/picture/upload_container', :locals=>{:parent=>@config[:object_name],:tempid=>(@pictures_parent_id.to_i<1),:parent_id=>(@pictures_parent_id.nil?)?@new_object_id:@pictures_parent_id,:single=>@single_picture_container,:read_only=>@read_only,:pdf=>@pdf} %>
        <br class="clear" />
        <div><!--[if !IE]>for ie to expand height correctly<![endif]--></div>
      </div><!--[if !IE]>banner area<![endif]-->
    <% end %>
    <% if @show_files %>
       <div id="tab5container"  name='tab_content'  style="display:none;">
        <%= render :partial=>'/file/upload_container', :locals=>{:parent=>@config[:object_name],:tempid=>(@files_parent_id.to_i<1),:parent_id=>(@files_parent_id.nil?)?@new_object_id:@files_parent_id,:single=>@single_picture_container,:read_only=>@read_only} %>
        <br class="clear" />
        <div><!--[if !IE]>for ie to expand height correctly<![endif]--></div>
      </div><!--[if !IE]>banner area<![endif]-->
    <% end %>
    <% if @config[:map] %>
      <% if @read_only %>
        <% #TODO pielikt, kartes tikai aplūkošanas iespēju%>
      <% else%>
        <%= render :partial=>'/managed/map_script', :locals=>{:read_only=>@read_only||false,:lat=>(@object.location)?(@object.location.lat):0, :lng=>(@object.location)?(@object.location.lng):0} %>
      <% end%>
    <% end %> 
       <div id="tab0container"  name='tab_content' style="display:block;">
          <% if @config[:inline] %>
            <input type="hidden" name="inline" value="true" />
            <input type="hidden" name="controller_name" value="<%= @config[:all_params][:controller_name]%>"
          <% end %>
          <%= render :partial=>'/managed/object_data',:layout=>false,:locals=>{:read_only=>true} %>
          <input type="hidden" value="<%= @start_link %>" name="start_link" />
          <br class="clear" />
          <div><!--[if !IE]>for ie to expand height correctly<![endif]--></div>
       </div><!--[if !IE]>banner area<![endif]-->
       <div id="tab1container"  name='tab_content'  style="display:none;">
            <%= render :partial=>'/managed/meta_information',:layout=>false %>
            <br class="clear" />
            <div><!--[if !IE]>for ie to expand height correctly<![endif]--></div>
       </div><!--[if !IE]>banner area<![endif]-->
        <div id="tab2container"  name='tab_content'  style="display:none;">
            <%= render :partial=>'/managed/translate',:layout=>false,:locals=>{:read_only=>@read_only} %>
        </div><!--[if !IE]>banner area<![endif]-->
       <% if @config[:map] %>
         <div id="tab3container"  name='tab_content' style="display:block;">
                <div id="map" class="house-google-map" ></div>
            <br class="clear" />
            <div><!--[if !IE]>for ie to expand height correctly<![endif]--></div>
         </div><!--[if !IE]>banner area<![endif]-->
       <% end %>
   <% if !@config[:inline] %>
    <%= back_link :title=>"Atcelt:class=>"blue"%>
   <% else %>
     <span onclick="$('object_edit_container_<%= tempid %>').update('')" class="blue" style="cursor:pointer;"><%= "Atcelt"%></span> 
   <%end%>  
    </div><!--[if !IE]>tabarea<![endif]-->
  </div><!--[if !IE]>tabsheet<![endif]-->
</div><!--[if !IE]>box<![endif]-->
<%= list_end_tags %>
</div>
<br class="clear" /><br />


