<%#
# SIA ITHouse
# Rolands Bondars
%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/import_contacts" %>
<% end -%>
<div id="small-logo">
  <%= image_tag "logo-small.png" %>
</div>
<div class="box">
  <p><%= t(:"profile.dashboard.import_popup.import_friends_from_contacts") %></p>
  <% form_tag "" do %>
    <p class="small"><%= label_tag :email_user, t(:"profile.dashboard.import_popup.user") %>:</p>
    <p><%= text_field_tag :email_user %> @ <%= select_tag :email_providers, options_for_select(["gmail.com"]) %></p>
    <p class="small"><%= label_tag :email_password, t(:"profile.dashboard.import_popup.password") %>:</p>
    <div style="display:inline;float:left;margin-right:30px"><%= password_field_tag :email_password %></div>
    <div id="import-info">
      <p class="small"><%= image_tag "lock.png" %> <strong><%= t(:"profile.dashboard.import_popup.security")  %></strong></p>
      <p class="small"><%= t(:"profile.dashboard.import_popup.security_info")  %></p>
    </div>
    <div style="display:block;width:100%;_float:left"><button type="submit"><span><%= t(:"profile.dashboard.import_popup.submit_step1") %></span></button><span id="close"> <%= t(:"simple words.or") %> <%= link_to t(:"simple words.close"), "", {:href=>"#", :onclick=>"window.parent.SexyLightbox.close();"}  %></span></div>
  <% end %>
</div>
