<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.11.2, 09:37:23
%>
<% content_for :stylesheet do -%>
  <%= stylesheet_link_tag "public/forms" %>
  <%= stylesheet_link_tag "public/change" %>
<% end %>
<% content_for :javascript do -%>
  <%= javascript_include_tag "sexy-lightbox/mootools-yui-compressed" %>
<% end %>
<h1><%= t(:"profile.change.title") %></h1>
<% form_tag "/change" do -%>
<div class="box">
  <table>
    <tbody>
      <tr>
        <th>
          <label for="change_first_name">
            <%= t(:"profile.step1.name") %>
          </label>
        </th>
        <td class="col2 readonly" colspan="2">
           <%= @user.profile.first_name  %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_last_name">
            <%= t(:"profile.step1.last_name") %>
          </label>
        </th>
        <td class="col2 readonly" colspan="2">
           <%= @user.profile.last_name  %>
        </td>
      </tr>
      <% if @user.profile.person_code %>
        <tr>
          <th>
            <label for="change_person_code">
              <%= t(:"business.person_code") %>
            </label>
          </th>
          <td class="col2 readonly" colspan="2">
             <%= @user.profile.person_code  %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          <label for="change_email">
            <%= t(:"profile.step1.email") %>
          </label>
        </th>
        <td class="col2 text_field">
           <%= text_field :change, :email, {:value=> @data.key?(:email)? @data[:email] : '' }  %>
        </td>
        <td<%= ' class="hint"' if @validator.valid?(:email) %>>
          <div class="<%= @validator.valid?(:email)? 'hint' : 'error' %>">
            <%= t(:"profile.change.email_hint") if @validator.valid?(:email)  %>
            <%= @validator.errors(:email).join ', ' unless @validator.valid?(:email)  %>
          </div>
        </td>
      </tr>
      <tr class="hint">
        <th>&#160;</th>
        <td colspan="2">
          <p><%= t(:"profile.change.email_hint_2") %></p>
          <%= label(:change, :email_password, t(:"profile.step1.password")) %>
          <%= password_field :change, :email_password, {:value=> @data.key?(:email_password)? @data[:email_password] : '' }  %>
        </td>
      </tr>
      <tr class="top-margin">
        <th>
          <label for="change_phone">
            <%= t(:"profile.step1.phone") %>
          </label>
        </th>
        <td class="col2 text_field">
           <%= text_field :change, :phone, {:value=> @data.key?(:phone)? @data[:phone] : '', :maxlength => 8}  %>
        </td>
        <td<%= ' class="hint"' if @validator.valid?(:phone) %>>
          <div class="<%= @validator.valid?(:phone)? 'hint' : 'error' %>">
            <%= t(:"profile.change.phone_hint") if @validator.valid?(:phone)  %>
            <%= @validator.errors(:phone).join ', ' unless @validator.valid?(:phone)  %>
          </div>
        </td>
      </tr>
      <tr class="hint">
        <th>&#160;</th>
        <td colspan="2">
          <img id="ajax-load" src="<%= image_path("ajax.gif") %>" style="display:none" /><p id="code-text"><%= t(:"profile.change.phone_hint_2") + "<br /> <a href=\"#\" onclick=\"$('code-text').setStyle('display','none'); $('ajax-load').setStyle('display','block'); new Request({url:'#{url_for(:action => :resend_code)}/?phone='+$('change_phone').value,onComplete:function(){$('code-text').setStyle('display','block'); $('ajax-load').setStyle('display','none');}}).get(); return false;\">#{t(:"profile.change.phone_hint_3")}</a>" %></p>
          <%= label(:change, :password, t(:"profile.step2.code")) %>
           <%= text_field :change, :code, {:value=> @data.key?(:code)? @data[:code] : '' }  %>
        </td>
      </tr>
      <tr class="top-margin">
        <th>
          <label for="change_old_password">
            <%= t(:"profile.step1.password") %>
          </label>
        </th>
        <td class="col2 text_field">
           <%= password_field :change, :old_password, {:value=> @data.key?(:old_password)? @data[:old_password] : '' }  %>
        </td>
        <td<%= ' class="hint"' if @validator.valid?(:old_password) %>>
          <div class="<%= @validator.valid?(:old_password)? 'hint' : 'error' %>">
            <%= t(:"profile.change.old_password_hint") if @validator.valid?(:old_password)  %>
            <%= @validator.errors(:old_password).join ', ' unless @validator.valid?(:old_password)  %>
          </div>
        </td>
      </tr>
      <tr>
        <th>&#160;</th>
        <td class="col2 text_field">
           <%= password_field :change, :new_password, {:value=> @data.key?(:new_password)? @data[:new_password] : '' }  %>
        </td>
        <td<%= ' class="hint"' if @validator.valid?(:new_password) %>>
          <div class="<%= @validator.valid?(:new_password)? 'hint' : 'error' %>">
            <%= t(:"profile.change.new_password_hint") if @validator.valid?(:new_password)  %>
            <%= @validator.errors(:new_password).join ', ' unless @validator.valid?(:new_password)  %>
          </div>
        </td>
      </tr>
      <tr>
        <th>&#160;</th>
        <td class="col2 text_field">
           <%= password_field :change, :new_password_2, {:value=> @data.key?(:new_password_2)? @data[:new_password_2] : '' }  %>
        </td>
        <td<%= ' class="hint"' if @validator.valid?(:new_password_2) %>>
          <div class="<%= @validator.valid?(:new_password_2)? 'hint' : 'error' %>">
            <%= t(:"profile.change.new_password_hint_2") if @validator.valid?(:new_password_2)  %>
            <%= @validator.errors(:new_password_2).join ', ' unless @validator.valid?(:new_password_2)  %>
          </div>
        </td>
      </tr>
</table>
</div>

<div class="box">
  <table class="second">
    <tbody>
      <tr>
        <th>
          <label for="change_area">
            <%= t(:"profile.step2.area") %>
          </label>
        </th>
        <td class="col2 text_field flat" colspan="2">
          <%= select :change, :area, [[(t :"profile.step2.blank_area"),""]] + Cms::Area.find(:all).collect{|a| [a.name,a.id]}, {:selected => @data.key?(:area)? @data[:area].to_i : nil} , {
            :onchange =>  "if(this.options[this.selectedIndex].value!='') new Request({url: '#{url_for(:controller => 'post_code',:action => :get_post_codes)}/?id='+this.options[this.selectedIndex].value,method: 'get',onComplete: function(response) {$('change_post_code').set('html',response); $('change_post_code').setStyles({visibility: 'visible'});}}).get();"
          } %>
          <%= select :change, :post_code, [[(t :"profile.step2.blank_post_code"),""]] + (@data.key?(:area)? Cms::PostCode.find_all_by_area_id(@data[:area].to_i).collect{|a| [a.code,a.id]} : []),
            {:selected => @data.key?(:post_code)? @data[:post_code].to_i : nil },
            {:style => (@data.key?(:area) && @data.key?(:post_code))? nil : "visibility:hidden" }
          %>
          <br />
          <%= error_msg @validator.errors(:area).join(', ') unless @validator.valid?(:area)  %>
          <%= error_msg @validator.errors(:post_code).join(', ') if (@validator.valid?(:area) and !@validator.valid?(:post_code))   %>
          <%= error_msg @validator.errors(:post_code_id).join(', ') if (@validator.valid?(:area) and !@validator.valid?(:post_code_id))   %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_job">
            <%= t(:"profile.step2.job") %>
          </label>
        </th>
        <td class="col2 text_field flat">
          <%= select :change, :job, Cms::Job.find(:all).collect{|j| [j.name,j.id]}, {:selected => @data.key?(:job)? @data[:job].to_i : nil } %>
        <br />
        <%= error_msg @validator.errors(:job).join ', ' unless @validator.valid?(:job)  %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_area">
            <%= t(:"profile.step2.education") %>
          </label>
        </th>
        <td class="col2 text_field flat">
          <%= select :change, :education, Cms::Education.find(:all).collect{|e| [e.name,e.id]}, {:selected => @data.key?(:education)? @data[:education].to_i : nil } %>
          <br />
          <%= error_msg @validator.errors(:education).join ', ' unless @validator.valid?(:education)  %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_area">
            <%= t(:"profile.step2.marital_status") %>
          </label>
        </th>
        <td class="col2 text_field flat">
          <%= select :change, :marital_status, Cms::MaritalStatus.find(:all).collect{|m| [m.name,m.id]}, {:selected => @data.key?(:marital_status)? @data[:marital_status].to_i : nil } %>
          <br />
          <%= error_msg @validator.errors(:marital_status).join ', ' unless @validator.valid?(:marital_status)  %>
        </td>
      </tr>
      <tr>
        <th>
          <label>
            <%= t(:"profile.step2.children") %>
          </label>
        </th>
        <td class="col2 radio flat">
          <%= radio_button :change, :children, 1, :checked => @data.key?(:children)? @data[:children].to_i == 1 : false, :class=>'radio' %>
          <%= label_tag 'change_children_1', t(:"profile.step2.has"), :class => :radio %>
          <%= radio_button :change, :children, 2, :checked => @data.key?(:children)? @data[:children].to_i == 2 : false, :class=>'radio' %>
          <%= label_tag 'change_children_2', t(:"profile.step2.hasnt"), :class => :radio %>
          <br />
          <%= error_msg @validator.errors(:children).join ', ' unless @validator.valid?(:children)  %>
        </td>
      </tr>
      <tr>
        <th style="vertical-align:top">
          <label for="change_interests">
            <%= t(:"profile.step2.interests") %>
          </label>
        </th>
        <td colspan="2" class="interests">
          <p><%= t(:"profile.step2.interests_info") %></p>
          <%= error_msg(@validator.errors(:interests).join(', ')) unless @validator.valid?(:interests) %>
          <% Cms::Interest.find(:all,:order => "name ASC").each do |item| -%>
            <div class="interest">
              <%= check_box_tag("change[interests][#{item.id}]", item.id, @data.key?(:interests) && @data[:interests].include?(item.id.to_s), {:id => "change_interests_#{item.id}", :class => "chbox"}) %>
              <%= label_tag("change_interests_#{item.id}",item.name, :class => "chbox") %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_language">
            <%= t(:"translate.language") %>
          </label>
        </th>
        <td class="col2 text_field">
          <%= select :change, :locale,get_languages, {:selected => @data.key?(:locale)? (@data[:locale]) : nil } %>
        </td>
      </tr>
      <tr>
        <th>
          <label for="change_newsletter">
            <%= t 'profile.step2.receive_newsletter' %>
          </label>
        </th>
        <td class="col2 radio">
          <%= check_box :change, :allow_newsletter, {:checked => @data[:allow_newsletter]} %>
        </td>
      </tr>
      <tr class="buttons">
        <td><%= link_to "<span>&#171;</span> #{t(:"profile.change.back")}", dashboard_url %></td>
        <td>
          <button type="submit"><span><%= t(:"profile.change.save") %></span></button>
        </td>
        <td>
          <%= link_to t(:"profile.change.remove"),{:action => "remove"},{:class=>"remove"} %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>