<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.26.2, 16:34:48
%>
<% content_for :stylesheet do -%>
    <% #stylesheet_link_tag "/javascripts/jquery/themes/base/ui.theme.css" %>
    <%= stylesheet_link_tag "public/dashboard2" %>
    <%= stylesheet_link_tag "/javascripts/highslide/highslide.css"  %>
    <%= stylesheet_link_tag "/javascripts/sexy-lightbox/sexylightbox" %>    
<% end -%>
<% content_for :javascript do -%>
  <%= javascript_include_tag "sexy-lightbox/mootools-yui-compressed" %>
  <%= javascript_include_tag "sexy-lightbox/sexylightbox.v2.1.mootools" %>
  <%= javascript_include_tag "highslide/highslide" %>
  <%= javascript_include_tag "jquery/ui/ui.core" %>
  <%= javascript_include_tag "jquery/ui/ui.tabs" %>
  <%= javascript_include_tag "jquery/autoresize.jquery.min.js" %>
  <script type="text/javascript">
  jQuery(document).ready(function(){
   jQuery("textarea#friend_email").autoResize({
     extraSpace: 100
   });
   jQuery("#tabs").show();
   jQuery("#tabs").tabs({
     selected: <%= @data[:email].length>0 ? 1 : 0 %>
   });
   jQuery("#close_notice").click(function(){
      jQuery("#user_notice").remove();
   });
  });
  </script>
  <script type="text/javascript">
    function DraugiemSay( title, url, titlePrefix ){
    window.open(
    'http://www.draugiem.lv/say/ext/add.php?title=' + encodeURIComponent( title ) +
    '&link=' + encodeURIComponent( url ) +
    ( titlePrefix ? '&titlePrefix=' + encodeURIComponent( titlePrefix ) : '' ),
    '',
    'location=1,status=1,scrollbars=0,resizable=0,width=530,height=400'
    );
    return false;
    }
  </script>
  <script type="text/javascript">
      window.addEvent('domready', function(){
        SexyLightbox = new SexyLightBox();
      });

      hs.outlineType = null;

      var sms_times = 3;
      var email_times = 3;

      function add_new_sms_table_row() {
        if(sms_times == 0) return;

        [0].each(function(){
          var rows = $$("#friends_body_sms tr");
          var tr = new Element('tr');

          new Element('input',{id: 'friend_phone_'+(3*rows.length+1),maxlength:8,name:'friend[phone][]',type:'text'}).injectInside(
          new Element('td',{'class': 'col1'}).injectInside(tr));

          new Element('input',{id: 'friend_phone_'+(3*rows.length+2),maxlength:8,name:'friend[phone][]',type:'text'}).injectInside(
          new Element('td',{'class': 'col2'}).injectInside(tr));

          new Element('input',{id: 'friend_phone_'+(3*rows.length+3),maxlength:8,name:'friend[phone][]',type:'text'}).injectInside(
          new Element('td',{'class': 'col3'}).injectInside(tr));

          tr.injectInside($('friends_body_sms'));
        });
        sms_times -= 1;
      }
    </script>

<% if @data[:email].length > 0 || @data[:phone].length > 0 -%>
      <script type="text/javascript">
        window.addEvent('domready', function() {
        <% if @data[:email].length > 0 -%>
            if($("friend_email").value) $("friend_email").setStyles({borderColor:'#E52A2A'});
        <% end -%>
        <% if @data[:phone].length > 0 -%>
          [<%= (0..(@data[:phone].length-1)).to_a.join(",") %>].each(function(_,i){
            if($("friend_phone_" + i).value) $("friend_phone_" + i).setStyles({borderColor:'#E52A2A'});
          });
        <% end -%>
        });
      </script>
    <% end -%>
<% end %>
<div id="dashboard">

  <h4><%= "#{t(:"profile.dashboard.hello")}, #{@user.profile.full_name}! " %></h4>

  <%= current_notice_for_user(@user) %>

  <p><%= t(:"profile.dashboard.invite_text") %></p>
  <% if Time.now >= Time.parse("23:00",Time.now) and Time.now <= Time.parse("9:00",Time.now) %>
    <p style="color: red; font-weight:bold;"><%= t(:"profile.dashboard.after_23") %></p>
  <% end %>
  <div id="tabs">
    <ul>
      <li><a href="#sms"><span><%= t(:"profile.dashboard.tabs.by_sms") %></span></a></li>
      <li><a href="#email"><span><%= t(:"profile.dashboard.tabs.by_email") %></span></a></li>
      <li><a href="#social-networks"><span><%= t(:"profile.dashboard.tabs.by_social_networks") %></span></a></li>
      <li><a href="#link"><span><%= t(:"profile.dashboard.tabs.by_link") %></span></a></li>
    </ul>
    <div id="sms">
        <% form_tag "" do -%>
          <p><%= t(:"profile.dashboard.tabs.enter_phone_numbers") %>:</p>
          <p class="small"><%= t(:"profile.dashboard.tabs.enter_phone_numbers_info") %></p>
          <table id="friends-table-sms" class="friends-table" >
            <tbody id="friends_body_sms">
              <% ((@data[:phone].length > 0 && @data[:phone].length) || 3).times do |i| %>
              <tr>
                <td class="col1"><%= text_field_tag "friend[phone][]", @data[:phone].length > (3*i) ? @data[:phone][3*i] : '', :id => "friend_phone_#{3*i}", :maxlength => 8 %></td>
                <td class="col2"><%= text_field_tag "friend[phone][]", @data[:phone].length > (3*i+1) ? @data[:phone][3*i+1] : '', :id => "friend_phone_#{3*i+1}", :maxlength => 8 %></td>
                <td class="col3"><%= text_field_tag "friend[phone][]", @data[:phone].length > (3*i+2) ? @data[:phone][3*i+2] : '', :id => "friend_phone_#{3*i+2}", :maxlength => 8 %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <p class="buttons left">
            <%= link_to "#{image_tag("plus.png")} #{t(:"profile.dashboard.add_more")}", {}, {:href => "#", :onclick=>"add_new_sms_table_row(); return false;"} %>
          </p>
          <button type="submit" class="right"><span><%= t(:"profile.dashboard.invite") %></span></button>
          <br class="clear" />
          <p class="small"><%= t(:"profile.dashboard.tabs.text_bottom")  %></p>
        <% end %>
    </div>
    <div id="email">
        <% form_tag "" do -%>
          <div class="left-tab">
            <p><%= t(:"profile.dashboard.tabs.enter_emails") %>:</p>
            <p class="small"><%= t(:"profile.dashboard.tabs.enter_emails_info") %></p>
            <%= text_area_tag "friend[email][]", @data[:email].length>0 ? @data[:email].join(",\n") : nil, :id => "friend_email", :rows=>5 %>
            <p class="small"><%= t(:"profile.dashboard.tabs.use_commas_for_emails")  %></p>
            <p class="buttons">
              <button type="submit"><span><%= t(:"profile.dashboard.invite") %></span></button>
            </p>
          </div>
          <div class="right-tab">
            <p><%= link_to t(:"profile.dashboard.tabs.import_email_addresses"), import_contacts_url+"/?popup=1&amp;TB_iframe=true&amp;height=500&amp;width=585&amp;background=#f8f9f9", {:rel=>"sexylightbox"}%></p>
            <p class="small"><%= t(:"profile.dashboard.tabs.import_email_addresses_info") %></p>
            <p><%= link_to image_tag("gmail_logo.png") , import_contacts_url+"/?popup=1&amp;TB_iframe=true&amp;height=500&amp;width=585&amp;background=#f8f9f9", {:rel=>"sexylightbox"} %></p>
          </div>
          <br class="clear" />
          <p class="small"><%= t(:"profile.dashboard.tabs.text_bottom") %></p>          
         <% end %>
    </div>
    <div id="social-networks">
        <p><%= t(:"profile.dashboard.tabs.choose_social_networks") %>:</p>
        <p class="small"><%= t(:"profile.dashboard.tabs.choose_social_networks_info") %></p>
        <div class="social-network-item">
          <%= link_to image_tag("twitter_button.png"), "http://twitter.com/home/?status=" + Cms::SocialNetwork.find_by_name("Twitter").message.gsub('{LINK}',url_for(reg_url :user=>@user.profile.referral_link)), {:target=>"_blank"} %>
          <p class="social-network-item-info small"><%= t(:"profile.dashboard.tabs.twitter_info") %></p>
          <br class="clear" />
        </div>
        <div class="social-network-item">
          <%= link_to image_tag("draugiemlv_button.png"),{}, {:href=>"#", :onclick=>"DraugiemSay('#{Cms::SocialNetwork.find_by_name("DraugiemSay").message.gsub('{LINK}',url_for(reg_url :user=>@user.profile.referral_link))}', '#{url_for(reg_url :user=>@user.profile.referral_link)}', 'http://www.smsbuzz.lv/')"} %>
          <p class="social-network-item-info small"><%= t(:"profile.dashboard.tabs.draugiemlv_info") %></p>
          <br class="clear" />
        </div>
        <p class="small"><%= t(:"profile.dashboard.tabs.text_bottom") %></p>
    </div>
    <div id="link">
        <p><%= t(:"profile.dashboard.tabs.use_link") %>:</p>
        <p class="small"><%= t(:"profile.dashboard.tabs.use_link_info") %>:</p>
        <p><%= text_field_tag "user_link", url_for(reg_url :user=>@user.profile.referral_link), :length=>30,:id=>"referral_link" %></p>
        <p class="small"><%= t(:"profile.dashboard.tabs.text_bottom") %></p>
    </div>
  </div>
</div>
<div id="side">
  <div class="redbox-container">
  <div class="redbox-top">
    <h2><%= t(:"profile.dashboard.earned") %></h2>
  </div>
  <div class="redbox">
    <% form_tag url_for(:controller => :payout, :action => :index) do -%>      
      <table>
        <tr>
          <td class="label"><%= t(:"profile.dashboard.from_self") %>:</td><td class="sum"><%= number_to_currency(@user.profile.total_earnings - @user.profile.slave_earnings, :unit=>'LVL', :format=>"%n %u") %></td>
        </tr>
        <tr>
          <td class="label"><%= link_to ((@user.profile.slaves.count == 1)? t(:"profile.dashboard.from_1_friend") : t(:"profile.dashboard.from_friends")) % [@user.profile.slaves.count], invitees_url %> <%= t(:"profile.dashboard.from_others")  %>:</td><td class="sum"><%= number_to_currency(@user.profile.slave_earnings, :unit=>'LVL', :format=>"%n %u", :precision => 2) %></td>
        </tr>
        <tr>
          <td class="label"><%= t(:"profile.dashboard.sum") %>:</td><td class="sum"><%= number_to_currency @user.profile.total_earnings, :unit=>'LVL', :format=>"%n %u"  %></td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="label strong"><%= t(:"profile.dashboard.paid_out") %>:</td><td class="sum strong"><%=  number_to_currency(@user.paid_out_money, :unit=>'LVL', :format=>"%n %u") %></td>
        </tr>
        <tr>
          <td class="label strong"><%= t(:"profile.dashboard.earned_money") %>:</td><td class="sum strong"><%= number_to_currency(((@user.profile.total_savings.to_f * 100).ceil.to_f / 100.to_f), :unit=>'LVL', :format=>"%n %u")  %></td>
        </tr>
      </table>
      <% if @user.profile.total_savings.to_f >= Cms::Payout.get_minimum.to_f  -%>
        <a href="<%= url_for(:controller => :payout, :action => :index) %>/?popup=1&amp;TB_iframe=true&amp;height=<%= t(:"profile.dashboard.payout_height") %>&amp;width=520" class="btn-small" rel="sexylightbox"><span><%= t(:"profile.dashboard.get_earnings") %></span></a>
      <% else -%>
        <a href="#" onclick="alert('<%= t(:"profile.dashboard.not_enaught_money") % Cms::Payout.get_minimum %>'); return false;" class="btn-small"><span><%= t(:"profile.dashboard.get_earnings") %></span></a>
      <% end -%>
    <% end -%>
  </div>
  </div>
  <div class="redbox-container">
  <div class="redbox-top">
    <h2><%= t(:"profile.dashboard.friends_overview")  %></h2>
  </div>
    <div class="redbox">
      <table id="friends">
        <tr>
          <td class="label"><%= t(:"profile.dashboard.invited_by_phone") %>:</td><td class="sum"><%= @user.invitations_by_phone(['sent','reg-under-inviter'],:count) %></td>
        </tr>
        <tr>
          <td class="label"><%= t(:"profile.dashboard.invited_by_email") %>:</td><td class="sum"><%= @user.invitations_by_email(['sent','reg-under-inviter'],:count) %></td>
        </tr>
        <tr>
          <td class="label"><%= t(:"profile.dashboard.registered_by_link") %>:</td><td class="sum"><%= @user.profile.slaves.size - @user.invitations_by_phone_and_email('reg-under-inviter',:count) %></td>
        </tr>
        <tr>
          <td class="label"><%= t(:"profile.dashboard.registered_together") %>:</td><td class="sum"><%= @user.profile.slaves.size %></td>
        </tr>
      </table>
      <div class="center"><strong><%= link_to( t(:"profile.dashboard.all_invites"), invitees_url, :class=>"center") %></strong></div>
    </div>
  </div>
</div>
