<%#
# Autors: Artūrs Meisters
%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/invitees" %>
<% end -%>
<div class="box-t midbox"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
<div class="min-height-box">&#160;</div>
<div class="inner">
  <% unless @user.profile.slaves.size > 0 || @invited_emails.size > 0 || @invited_phones.size > 0 || @reg_other_emails.size > 0 || @reg_other_phones.size > 0 || @failed_phones.size > 0 %>
  <p><%= t(:"profile.invitees.no_invitees") %></p>
  <% end %>
  <% if @user.profile.slaves.size > 0 %>
    <h1><%= t(:"profile.invitees.registred_friends") %></h1>
    <p><%= t(:"profile.invitees.registred_friends_subtext") %></p>
    
    <% if @reg_inviter_emails.size > 0 %>
      <table>
      <th><%=t(:"simple words.nr")%></th>
      <th><%=t(:"login.email")%></th>
      <th><%=t(:"profile.step1.name")%></th>
      <% @reg_inviter_emails.each_with_index do |inv,index| %>
        <tr>
          <td><%= index+1 %>.</td>
          <td><%= inv.email%></td>
          <td><%= "#{inv.first_name} #{inv.last_name}." %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
    <% if @reg_inviter_phones.size > 0 %>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"profile.step1.phone")%></th>
        <th><%=t(:"profile.step1.name")%></th>
        <% @reg_inviter_phones.each_with_index do |inv,index|%>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.phone  %></td>
            <td><%= "#{inv.first_name} #{inv.last_name}." %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <br class="clear" />
    <% if @reg_inviter_links.size > 0 %>
    <table>
      <th><%= t(:"simple words.nr") %></th>
      <th><%= t(:"profile.step1.name") %></th>
      <% @reg_inviter_links.each_with_index do |inv,index| %>
        <tr>
          <td><%= index+1 %>.</td>
          <td><%= "#{inv.first_name.capitalize} #{inv.last_name[0,1].upcase}."  %></td>
        </tr>
      <% end %>
    </table>
    <% end %>
    <br class="clear"/>
  <% end %>
  <% if @invited_emails.size > 0 || @invited_phones.size > 0 %>
    <h1><%= t(:"profile.invitees.invited_friends") %></h1>
    <p><%= t(:"profile.invitees.invited_friends_subtext") %></p>
    <% if @invited_emails.size > 0 %>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"login.email")%></th>
        <% @invited_emails.each_with_index do |inv,index| %>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.email%></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if @invited_phones.size > 0 %>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"profile.step1.phone")%></th>
        <% @invited_phones.each_with_index do |inv,index|%>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.phone  %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <br class="clear"/>
    <p class="expiration_notice"><%= invitation_expiration_note %></p>
  <% end %>
  <% if @reg_other_emails.size > 0 || @reg_other_phones.size > 0 %>
    <h1><%= t(:"profile.invitees.you_loose") %></h1>
    <% if @reg_other_emails.size > 0 %>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"login.email")%></th>
        <% @reg_other_emails.each_with_index do |inv,index| %>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.email%></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if @reg_other_phones.size > 0 %>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"profile.step1.phone")%></th>
        <% @reg_other_phones.each_with_index do |inv,index|%>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.phone  %></td>
          </tr>
        <% end %>
      </table>
      <br class="clear"/>
    <% end %>
    <% if @failed_phones.size > 0 %>
      <h1><%= t(:"profile.invitees.failed_to_send") %></h1>
      <table>
        <th><%=t(:"simple words.nr")%></th>
        <th><%=t(:"profile.step1.phone")%></th>
        <% @failed_phones.each_with_index do |inv,index|%>
          <tr>
            <td><%= index+1 %>.</td>
            <td><%= inv.phone  %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <br class="clear"/>
  <% end %>
</div>
<br class="clear"/>
</div><br class="clear"/></div></div></div></div></div></div></div>