<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.12.2, 08:36:50
%>
<% content_for :title, t(:"static_metadata.register.title") %>
<% content_for :keywords, t(:"static_metadata.register.keywords") %>

<% content_for :javascript do -%>
<%= javascript_include_tag "sexy-lightbox/mootools-yui-compressed" %>
<script type="text/javascript">
  window.onload = function(){
    <% if @data.length > 0 %>
    $($$("div.error")[0].id.split("_").slice(1,$$("div.error")[0].id.split("_").length).join("_")).focus();
    <% else %>
    window.document.getElementsByTagName('input')[2].focus(); // old was 0
    <% end %>
  };
</script>
<% end -%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/forms" %>
    <%= stylesheet_link_tag "public/registration" %>
<% end -%>
<h1><%= t(:"profile.step1.title") %></h1>
<h2><%= t(:"profile.step1.subtitle_1") %></h2>
<% form_tag "/register/step1" do -%>
  <table>
    <tbody>
      <tr>
        <th>
          <label for="step1_first_name">
            <%= t(:"profile.step1.name") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :step1, :first_name, {:value=> @data.key?(:first_name)? @data[:first_name] : '', :maxlength => 20 }  %>
        </td>
        <td><%= error_msg @validator.errors(:first_name).join(', '),:id=>"er_step1_first_name" unless @validator.valid?(:first_name)  %></td>
      </tr>
      <tr>
        <th>
          <label for="step1_last_name">
            <%= t(:"profile.step1.last_name") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :step1, :last_name, {:value=> @data.key?(:last_name)? @data[:last_name] : '', :maxlength => 20 }  %>
        </td>
        <td><%= error_msg @validator.errors(:last_name).join(', '),:id=>"er_step1_last_name" unless @validator.valid?(:last_name)  %></td>
      </tr>
      <tr>
        <th>
          <label for="step1_email">
            <%= t(:"profile.step1.email") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :step1, :email, {:value=> @data.key?(:email)? @data[:email] : '' }  %>
        </td>
        <td><%= error_msg @validator.errors(:email).join(', '),:id=>"er_step1_email" unless @validator.valid?(:email)  %></td>
      </tr>
      <tr>
        <th>
          <label for="step1_phone">
            <%= t(:"profile.step1.phone") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :step1, :phone, {:value=> @data.key?(:phone)? @data[:phone] : '', :maxlength => 8 }  %>
        </td>
        <td><%= error_msg @validator.errors(:phone).join(', '),:id=>"er_step1_phone" unless @validator.valid?(:phone)  %></td>
      </tr>
      <tr>
        <th>
          <label>
            <%= t(:"profile.step1.sex") %>
          </label>
        </th>
        <td class="col2">
          <%= radio_button :step1, :sex, 2, :checked => @data.key?(:sex)? @data[:sex].to_i == 2 : false, :class=>'radio' %>
          <%= label_tag 'step1_sex_2', t(:"profile.step1.woman"), :class => :radio %>
          <%= radio_button :step1, :sex, 1, :checked => @data.key?(:sex)? @data[:sex].to_i == 1 : false, :class=>'radio' %>
          <%= label_tag 'step1_sex_1', t(:"profile.step1.man"), :class => :radio %>
        </td>
        <td><%= error_msg @validator.errors(:sex).join(', '),:id=>"er_step1_sex_1" unless @validator.valid?(:sex)  %></td>
      </tr>
      <tr>
        <th>
          <label for="step1_birth_date">
            <%= t(:"profile.step1.birth_date") %>
          </label>
        </th>
        <td class="col2">
          <%= select :step1, :birth_date_1, (1..31).to_a.collect {|v| [v,v]}.insert(0,[t(:"profile.step1.day"),""]), {:selected => @data.key?(:"birth_date_1")? @data[:birth_date_1].to_i : nil} %>
          <%= select :step1, :birth_date_2, (1..12).to_a.insert(0,t(:"profile.step1.month")).collect {|v| (v.to_i == 0)? [v,''] : [month_names(:capitalize=>true)[v-1],v]}, {:selected => @data.key?(:birth_date_3)? @data[:birth_date_2].to_i : nil} %>
          <%= select :step1, :birth_date_3,(Date.today.year-100..Date.today.year-7).to_a.reverse.collect {|v| [v,v]}.insert(0,[t(:"profile.step1.year"),""]), {:selected => @data.key?(:birth_date_3)? @data[:birth_date_3].to_i : nil} %>
        </td>
        <td><%= error_msg @validator.errors(:birth_date).join(', '),:id=>"er_step1_birth_date_1" unless @validator.valid?(:birth_date)  %></td>
      </tr>
      <tr>
        <th>
          <label for="step1_password">
            <%= t(:"profile.step1.password") %>
          </label>
        </th>
        <td class="col2">
           <%= password_field :step1, :password, {:value=> @data.key?(:password)? @data[:password] : '' }  %>
        </td>
        <td><%= error_msg @validator.errors(:password).join(', '),:id=>"er_step1_password" unless @validator.valid?(:password)  %></td>
      </tr>
      <tr>
        <th>&#160;</th>
        <td colspan="2" class="submit-row">
          <button type="submit"><span><%= t(:"profile.step1.go1") %></span></button>
        </td>
      </tr>
    </tbody>
  </table>   
<% end %>
<div id="side">
<%= Cms::TextPage.find_by_title("Reģistrācijas mala").body %>
</div><br class="clear" />