<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.30.1, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>200, :sort_column=>"name" %>
    <%= list_header_cell :width=>200, :sort_column=>"swift_code" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for bank in @page %>
    <tr>
      <td><%= edit_link(:title=>bank.name, :id=>bank.id) %></td>
      <td><%= bank.swift_code %></td>
      <td><%= destroy_link(:image=>true,:id=>bank.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>