<% cfg=file_cfg(container) %>
<form id="map_form_<%=cfg[:unique_id]%>" action="#" onsubmit="<%="ITH.GoogleMaps.map_#{cfg[:unique_id]}.show_address(this.address.value)"%>;return false" style="display:none;">
  <p>
    <input type="text" size="60" name="address" id="gmap_address_input" onfocus="select()" />
    <input type="submit" value="<%=t(:".move_to_address")%>"  />
  </p>
</form>
<div id="map_<%=cfg[:unique_id]%>" class="google-map" style="width:600px;height:400px;"></div>
<% unless cfg[:single] %>
  <input type="button" class="btn" value="Add marker" onclick="<%="ITH.GoogleMaps.map_#{cfg[:unique_id]}.add_new_marker()"%>"/>
<% end %>
<% (@config[:tabs][cfg[:index]][:fields] || []).each{|field| %>
  <%= field_render field[:type],field %>
<%  } %>
<script type="text/javascript">
<% if Lolita.config.gmaps_key %>
    ITH.GoogleMaps=ITH.GoogleMaps||{}
    loadjscssfile("/lolita/javascripts/cms/media/google_map.js","js")
    function init_lolita_google_map_<%=cfg[:unique_id]%>(){
      try{
        <%="ITH.GoogleMaps.map_#{cfg[:unique_id]}"%>=new LolitaGoogleMap(<%= cfg.to_json %>);
        <%="ITH.GoogleMaps.map_#{cfg[:unique_id]}.init()"%>;
      }catch(e){
        <% if RAILS_ENV=="development"  %>
                alert(e)
        <% end %>
        setTimeout("init_lolita_google_map_<%=cfg[:unique_id]%>()",500)
      }
    }
    init_lolita_google_map_<%=cfg[:unique_id]%>()
  </script>
<%end%>