<%#
# SIA Lolita
# Artūrs Meisters
%>
<script type="text/javascript">
  loadjscssfile("/lolita/javascripts/cms/administration.js?<%=rand(1000)%>","js")
</script>
<table summary="user list">
  <tr>
    <%= list_header_cell :width=>450, :sort_column=>"name" %>
    <%= list_header_cell :width=>70, :title=>t(:"list.options")%>
  </tr>
  <% for role in @page %>
    <tr>
      <td>
        <% link=!role.built_in ? edit_link(:title=>role.name,:id=>role.id) : role.name %>
        <%= toggable_link "role_subtree_#{role.id}",:container=>"role_subtree_#{role.id}",:title=>link,:opened=>role==@active_role,:url=>role_users_url(role.id) %>
        <div id="role_subtree_<%=role.id%>" style="display:<%=role==@active_role ? "block" : "none"%>">
          <%= render :partial=>"tabs", :locals=>{:role=>role,:active_role=>@active_role,:active_tab=>@active_tab} %>
        </div>
      </td>
      <td>
        <% unless role.built_in %>
          <% list_options(role){|option| %>
            <%= option %>&nbsp;
          <% } %>
        <%end%>
      </td>
    </tr>
  <% end %>
</table>