<% active_role||=nil  %>
<div class="role-tab">
  <%= link_to t(".users"),role_users_url(role.id),
    :onclick=>"return Administration.switch_role_tabs(this,#{role.id})",
    :class=>active_tab==:users ? "current-role-tab" : "other-role-tab"
%>
</div>
<div class="role-tab">
  <%= link_to t(".accesses"), role_accesses_url(role.id),
    :onclick=>"return Administration.switch_role_tabs(this,#{role.id})",
    :class=>active_tab==:accesses ? "current-role-tab" : "other-role-tab"
%>
</div>
<br style="clear:both;"/>
<div id="role_subtree_<%=role.id%>_list">
  <% if active_role==role %>
    <% if active_tab==:accesses %>
      <%= render :partial=>'/admin/access/index', :locals=>{:role=>active_role}%>
    <% else %>
      <%= render :partial=>"/admin/user/index", :locals=>{:role=>active_role}%>
    <% end %>
  <% end %>
</div>