<% 
# SIA ITHouse
# Artūrs Meisters
%>
<%
# SIA ITHouse
# Artūrs Meisters
%>
<% #remote_form_for :object,{:complete=>"$('content').update(request.responseText)",:url=>{:action=>'save'}} do |f| %>
<table summary="<%=only_controller%>">
  <tr>
    <%= list_header_cell :width=>670,:sort_column=>"name" %>
  </tr>
  <% for table in @page %>
    <tr>
      <td><%= toggable_link("table_#{table.id}_fields",
          :action=>"show_fields",
          :params=>{:table_id=>table.id}
        ) %>
        <%=table.human_name.to_s.size>0 ? table.human_name : table.name.camelize%>
        <div id="table_<%=table.id%>_fields"></div>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list %>
<br/>