<div class="bigbox">
  <%= list_start_tags %>
  <div class="box">
    <div class="top">
      <div class="fl big blue"><%= "Sākuma lapa" %></div>
    </div>
    <br class="clear" />
    <div class="hr"></div>
    Sākuma lapas satura rediģēšana
    <br class="clear" /><br />
    <% if !flash[:notice].nil? %>
      <div class="greenbox">
        <div class="l">
          <div class="r">
            <%= flash[:notice] %>
          </div>
        </div>
      </div>
      <br class="clear" />
    <% end %>
    <div class="warnbox">
      <%= error_messages_for_cms @errors %>
    </div>
    <br class="clear" />
    <div class="tabsheet">
      <div class="tabswitch">
        <%= tab_header 'Saturs',:index=>0,:current=>true %>
      </div><!--[if !IE]>tabswitch<![endif]-->
      <div class="tabarea">
        <div id="tab0container"  name='tab_content' style="display:block;">
            <% remote_form_for(:object, @object,{:complete=>"$('content').update(request.responseText)",:url=>{:controller=>"/cms/start_page",:action=>:update},:html=>{:onsubmit=>on_submit_action}}){ |f|%>
                <%= render :partial=>"grid"%>
                <input type="submit" class="btn" value="<%='Saglabāt'%>" />
            <% }%>
        </div><!--[if !IE]>tab container<![endif]-->
    </div><!--[if !IE]>tabarea<![endif]-->
  </div><!--[if !IE]>tabsheet<![endif]-->
</div><!--[if !IE]>box<![endif]-->
<%= list_end_tags %>
</div>
<br class="clear" /><br />