<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/start_page2" %>
    <%= stylesheet_link_tag "/javascripts/jquery/themes/smoothness/jquery-ui-1.7.1.custom.css" %>
<% end -%>
<% content_for :javascript do -%>
  <%= javascript_include_tag "jquery/ui/ui.core.js" %>
  <%= javascript_include_tag "jquery/ui/ui.slider.js" %>
  <script type="text/javascript">
  $(function() {
      $("#slider-range").slider({
          range: true,
          min: 0,
          max: 100,
          values: [16, 55],
          slide: function(event, ui) {
            $('#age_from').html(ui.values[0] + " <%= t(:"business.years") %>");
            $('#age_to').html(ui.values[1] + " <%= t(:"business.years") %>");
            if($('.ui-slider-handle')[1].style.left.substr(0,2) - $('.ui-slider-handle')[0].style.left.substr(0,2) > 15){
              $('#age_from').css({left: $('.ui-slider-handle')[0].style.left});
            }
            if($('.ui-slider-handle')[1].style.left.substr(0,2) - $('.ui-slider-handle')[0].style.left.substr(0,2) > 17){
              $('#age_to').css({left: $('.ui-slider-handle')[1].style.left});
            }
            $('#business_birth_date_from').val(ui.values[0]);
            $('#business_birth_date_to').val(ui.values[1]);
          },
          change: function(){
            filter_users();
          }
      });
      $('#age_from').html($("#slider-range").slider("values", 0) + " <%= t(:"business.years") %>");
      $('#age_to').html($("#slider-range").slider("values", 1) + " <%= t(:"business.years") %>");
      $('#age_from').css({left: $('.ui-slider-handle')[0].style.left});
      $('#age_to').css({left: $('.ui-slider-handle')[1].style.left});
      $('#business_birth_date_from').val($("#slider-range").slider("values", 0));
      $('#business_birth_date_to').val($("#slider-range").slider("values", 1));

      assign_business_events();
      var ideas = Array(<%= @sms_ideas.collect{|i| "'#{i.msg.gsub("'",'"')}'" }.join(",") %>);
      var current = 0;
      window.setInterval(function(){
        i = (current <= ideas.length)? current + 1 : 0
        $('#sms-content').html(ideas[i]);
        current = i
      },5000);
  });

  function assign_business_events(){
    $("input[type=checkbox]").click(filter_users);
    $('select').change(filter_users);
  }

  function toggle_inputs(toggle){
    $("input[type=checkbox]").each(function(){
      this.disabled = (toggle)? true : false;
    });
    $("select").each(function(){
      this.disabled = (toggle)? true : false;
    });
    $("#slider-range").slider((toggle)? "disable" : "enable");
    $('#ajax-loader').toggle();
  }

  function filter_users(){
    
    var data = $('#business_form').serialize();
    toggle_inputs(true);
    $.post('/cms/rebate/filter_users/', data,
      function(data,textStatus){
        if(textStatus == 'success'){
          var rs = data.split("|");
          if(rs[0] >= 0){
            $('#user_count').html(rs[0]);
          }
          toggle_inputs(false);
        }else{
          alert('<%= t(:"business.ajax_error") %>');
        }
      });
    return true;
  }
  </script>
<% end -%>
<div id="subheader">
  <div class="first">&#160;</div>
  <%= image_tag "subheader-banner.png", :class => "banner" %>
  <div class="stats">
    <%= t(:"start_page.registered_users2") + " " + @user_count.to_s %><br />
    <%= t(:"start_page.earned2") %> <%= number_to_currency(((@earned_money * 100).ceil.to_f / 100.to_f), :unit=>'LVL', :format=>"%n %u") %>
  </div>
  <div class="last">&#160;</div>
  <div class="sharethis">
    <!-- AddThis Button BEGIN -->
    <script type="text/javascript">var addthis_pub="4a1298c416027a2d";</script>
    <a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s7.addthis.com/static/btn/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/200/addthis_widget.js"></script><!-- AddThis Button END -->
  </div>
</div>
<div id="column1">
  <div class="head">
    <h1><%= t(:"start_page.col1_title") %></h1>
    <h2><%= t(:"start_page.col1_subtitle") %></h2>
    <% form_tag register_url, :method => "get" do -%>
      <%= text_field_tag :phone, "",
        :id => "big-phone",
        :autocomplete => "off",
        :style => "background: url(/images/big-phone-#{Globalize::Locale.language_code}.png) left top no-repeat;",
        :onfocus=> "$(this).css({'background-image': 'url(/images/big-phone.png)'});",
        :onblur => "if(this.value=='') $(this).css({'background-image': 'url(/images/big-phone-#{Globalize::Locale.language_code}.png)'});"
      %>
      <button type="submit" class="reg-btn3"><span><%= t(:"start_page.reg_btn") %></span></button>
    <% end -%>
    <br class="clear" />
  </div>
  <%= Cms::TextPage.find_by_title('Sākumlapa - kas ir smsBuzz?').body %>
  <%= link_to t(:"start_page.learn_more"), what_is_it_url, :class=>"more" %>
  <br class="clear" />
  <h2><%= t(:"start_page.happen_with_you") %></h2>
  <% Cms::UserReview.find(:all,:order => "RAND()",  :limit => 2).each do |user_review| -%>
    <blockquote>
      <%= user_review.review %>
    </blockquote>
    <p class="fr">- <%= user_review.author %></p>
    <br class="clear" />
  <% end -%>
</div>
<div id="column2">
    <div class="top">
      <h1><%= t(:"start_page.col2_title") %></h1>
      <h2><%= t(:"start_page.col2_subtitle") %></h2>
    </div>
    <% form_tag "/reklama/", :class => "content", :id => "business_form", :method => "get" do -%>
      <div class="box-t"><div class="b"><div class="l"><div class="r"><div class="tl"><div class="tr"><div class="bl"><div class="br">
      <div class="min-height-box">&#160;</div>
      <div class="inner">
        <table id="filter">
          <tr>
            <th><%= label :business, :age, t(:"business.age")+":" %></th>
            <td style="text-align:right">
              <img src="/images/ajax-loader.gif" alt="" style="display:none" id="ajax-loader" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div id="slider-range"></div>
              <div id="ages">
                <div id="age_from"></div><%= hidden_field :business, :birth_date_from %>
                <div id="age_to"></div><%= hidden_field :business, :birth_date_to %>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= label :business, :sex, t(:"profile.step1.sex")+":" %></th>
            <td>
              <%= check_box_tag("business[sex][]", 2, true, {:id => "business_sex_2", :class => "chbox"}) %>
              <%= label_tag 'business_sex_2', t(:"profile.step1.woman"), :class => :radio %>
              <%= check_box_tag("business[sex][]", 1, true, {:id => "business_sex_1", :class => "chbox"}) %>
              <%= label_tag 'business_sex_1', t(:"profile.step1.man"), :class => :radio %>
            </td>
          </tr>
          <tr>
            <th><%= label :business, :area, t(:"profile.step2.area")+":" %></th>
            <td>
              <%= select :business, :area, [[(t :"business.whole_country"),""]] + Cms::Area.find(:all).collect{|a| [a.name,a.id]}, {} , {
                :onchange => ""
              } %>
            </td>
          </tr>
          <tr>
            <th><%= label :business, :interests, t(:"profile.step2.interests")+":" %></th>
            <td>
              <%= t(:"simple_words.all") %>
              <%= link_to_function t(:"business.show_interests"), "$('#interests').toggle('slow');" %>
            </td>
          </tr>
        </table>
        <div id="interests" style="display:none">
            <% i = 0 %>
            <% Cms::Interest.find(:all,:order => "name ASC").each do |item| -%>
              <div class="interest" <%= (i % 2 == 0)? ' style="clear:left;"' : '' %>>
                <%= check_box_tag("business[interests][]", item.id, nil, {:id => "business_interests_#{item.id}", :class => "chbox"}) %>
                <%= label_tag("business_interests_#{item.id}",item.name, :class => "chbox") %>
              </div>
              <% i += 1 %>
            <% end %>
            <br class="clear" />
        </div>
        <p id="user_count_box">
          <span><%= t(:"start_page.get_users") %></span> <span id="user_count"><%= @form_user_count %></span> <span><%= t(:"start_page.smsbuzz_users") %></span>
        </p>
      </div>
      <br class="clear"/>
      </div><br class="clear"/></div></div></div></div></div></div></div>
  <button type="submit" id="filter-btn" class="big-btn"><span><%= t(:"start_page.filter_btn") %></span></button>
      <br class="clear"/>
      <%= hidden_field :business, :from_start_page, :value => 1 %>
    <% end -%>
    <div class="bottom">
      <div id="sms-content">
        <%= @sms_ideas[0].msg if @sms_ideas.size > 0 %>
      </div>
      <div id="how-it-works">
        <%= Cms::TextPage.find_by_title("Sākumlapa - Kā tas darbojas?").body %>
        <%= link_to t(:"start_page.learn_more"), howto_advertise_url, :class => "more" %>
      </div>
    </div>
</div>
<div class="clear"> </div>

<% if @news.size>0 && @twitter_updates.size>0 && @advertiser_speaks.size>0 %>
  <div id="news-box" class="bottom-info-box">
    <h2><%= t(:"start_page.news") %></h2>
    <% @news.each do |n| %>
        <div class="news-item">
          <div class="date"><%= n.created_at.strftime("%d. ") + t(("months." + n.created_at.strftime("%B").downcase).to_sym).capitalize %></div>
          <h3><%= n.name %></h3>
          <%= n.body %>
        </div>
    <% end %>
    <br class="clear" />
  </div>
  <div id="twitter-box" class="bottom-info-box">
    <h2><%= t(:"start_page.twitter") %></h2>
    <% @twitter_updates.each do |u| %>
      <div class="twitter-item">
        <div class="date">
          <%= twitter_time(u[:time]) %>
        </div>
         <p><%= u[:description] %>
      </div>
    <% end %>
    <div id="follow-twitter"><%=  t(:"start_page.follow_us_on_twitter") %><%= link_to(image_tag("twitter-logo.png"), "http://twitter.com/smsbuzzlv") %></div>
  </div>
  <div id="advertiser-box" class="bottom-info-box">
    <h2><%= t(:"start_page.advertiser_speaks") %></h2>
    <% @advertiser_speaks.each do |adv| %>
      <div class="adv-item">
        <span class="date"><%= adv.name %></span>&nbsp<span class="small"><%= adv.status %></span>
        <%= adv.message %>
      </div>
    <% end %>
  </div>
<% end %>
