<header>
  <h1><%=Lolita.application.name %></h1>
  <% if lolita_current_user %>
	  <nav>
	    <a href="<%=send(:"edit_#{lolita_current_user.class.to_s.downcase}_password_path")%>" class="username"><%=lolita_current_user.email%></a>
	    <a href="<%=send(:"destroy_#{lolita_current_user.class.to_s.downcase}_session_path")%>" class="button grey"><%=::I18n.t("lolita.shared.log_out")%></a>
	  </nav>
  <% end %>
</header>