<h3>Request</h3>
<dl>
  <% if @request %>
    <dt>IP</dt> <dd><%= @request.remote_ip %></dd>
    <dt>URL</dt> <dd><%= @request.url %></dd>
    <dt>Method</dt> <dd><%= @request.request_method %></dd>
    <dt>Browser</dt> <dd><%= @request.env['HTTP_USER_AGENT'] %></dd>
    <dt>Source</dt> <dd><%= @request.env["HTTP_REFERER"] || "-Bez izcelsmes-" %></dd>
    <dt>Ajax</dt> <dd><%= @request.xml_http_request? %></dd>
  <% end %>
  <% if @params %>
    <dt>Params</dt> <dd><%= raw @params.to_html %></dd>
  <% end %>
  <% if @session %>
    <dt>Session</dt> <dd><%= raw @session.to_html %></dd>
  <% end %>
</dl>
<h3><%= raw @title %></h3>
<pre>
  <%= raw @msg %>
</pre>