<%#
# Artūrs Meisters ITHGroup
# 12.10.2008
%>
<form method="post" id="pic_title_dialog_form" onsubmit="ITH.ImageFile.save_attributes(this,<%=@picture.id%>);return false;">
  <div>
    <%= label :picture,:position, "#{field_title(:position,"picture")}:" %>
    <%= text_field  :picture,:position, :size=>41, :maxlength=>4 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:alt,"#{field_title(:alt,"picture")}:" %>
    <%= text_field :picture,:alt, :size=>41 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:title, "#{field_title(:title,"picture")}:" %>
    <%= text_field  :picture,:title, :size=>41 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:caption, "#{field_title(:caption,"picture")}:" %>
    <%= text_field  :picture,:caption, :size=>41 %>
  </div>
  <div class="clear"></div>
  <div class="clear"></div>
  <input type="submit" class="btn dialog-button"  style="margin-left:110px" value="<%=t(:"actions.save")%>" />
  <input type="button"  onclick="ITH.ImageFile.Dialog.hide()" class="btn dialog-button" value="<%=t(:"actions.cancel")%>" />
</form>