<%#
# Artūrs Meisters ITHGroup
# 12.10.2008
%>
<% form_tag "", :id => "pic_title_dialog_form", :onsubmit => "ITH.ImageFile.save_attributes(this,#{@picture.id});return false;" do %>
  <div>
    <%= label :picture,:position, Media::ImageFile.human_attribute_name("position") %>:
    <%= text_field  :picture,:position, :size=>20, :maxlength=>4 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:alt,Media::ImageFile.human_attribute_name("alt") %>:
    <%= text_field :picture,:alt, :size=>20 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:title, Media::ImageFile.human_attribute_name("title") %>:
    <%= text_field  :picture,:title, :size=>20 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label :picture,:caption, Media::ImageFile.human_attribute_name("caption") %>:
    <%= text_field  :picture,:caption, :size=>20 %>
  </div>
  <div class="clear"></div>
  <div>
    <%= label_tag "p_name", Media::ImageFile.human_attribute_name("name") %>:
    <%= text_field_tag "p_name","#{@picture.name}",:readonly=>true,:size=>20 %>
  </div>
  <div class="clear"></div>
  <div class="clear"></div>
  <input type="submit" class="btn dialog-button"  style="margin-left:110px" value="<%=t(:"actions.save")%>" />
  <input type="button"  onclick="ITH.ImageFile.Dialog.hide()" class="btn dialog-button" value="<%=t(:"actions.cancel")%>" />
<% end %>