<%#
# SIA Lolita
# Artūrs Meisters
%>
<script type="text/javascript">
  loadjscssfile("/lolita/javascripts/cms/administration.js?<%=rand(1000)%>","js")
</script>
<table summary="user list">
  <tr>
    <%= list_header_cell :width=>450, :sort_column=>"login" %>
    <%= list_header_cell :width=>70, :title=>t(:"list.options")%>
  </tr>
  <% for user in @page %>
    <tr>
      <td>
       <%= render :partial=>"roles_list_link", :locals=>{:record=>user,:active_user=>@active_user} %>
      </td>
      <td>
        <% list_options(user){|option| %>
          <%= option %>&nbsp;
        <% } %>
      </td>
    </tr>
  <% end %>
</table>
<%= cms_pages list%>

