<h1><%=t(".title")%></h1>
<% if flash[:change_password_error] %>
  <h2 style="color:red"><%= flash[:change_password_error] %></h2>
<% end %>
<% if flash[:change_password_notice] %>
  <h2 style="color:green"><%= flash[:change_password_notice] %> </h2>
<% end %>
<%= error_messages_for :user %>
<% form_for :user, :url=>{:action=>:change_password}  do |f|%>
  <%= f.password_field :password, :autocomplete=>"off" %>
  <input type="hidden" name="id" value="<%=params[:id]%>" />
  <%= f.submit(t(".change")) %>
  <%= link_to t(".back"), :controller=>"admin/user", :action=>"login" %>
<% end %>
