<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'admin/forgot_password'%>
<%end%>
<div class="lg">
  <h2><%=t(".title")%></h2>
  <div class="indent">
    <% if flash[:forgot_password_error] %>
      <div style="color:red"><%=flash[:forgot_password_error]%></div>
    <% end %>
    <% if flash[:send_notice]  %>
      <h2 style="color:green"><%=flash[:send_notice]%></h2>
    <% end %>
    <div class="txt margin-after"><%=  t(".hint")%></div>
  </div>
  <% form_for :user,@user,:url=>{:action=>"forgot_password"} do |f|%>
    <span class="txt"><%=t(".email")%>:&nbsp;</span>
    <%= f.text_field :email,:autocomplete=>"off"  %>
    <%= show_simple_captcha :label=>t(".captcha hint"),
      :distortion=>"medium", :code_type=>"numeric", :image_size=>"100x40", :font_size=>24  %>
    <div class="submit-container">
      <input type="submit" class="btn" value="<%=t(".send")%>" />
    </div>
  <%end%>
</div>
