<% 
# SIA ITHouse
# Artūrs Meisters
%>
<% remote_form_for :object,{:complete=>"$('#content').html(request)",:url=>{:action=>'save'}} do |f| %>
  <table summary="<%= only_controller%>">
    <tr>
      <%= list_header_cell :width=>330, :sort_column=>"name" %>
      <%= list_header_cell :width=>330, :sort_column=>"value" %>
      <%= list_header_cell :width=>70, :title=>t(:"list.options")%>
    </tr>
    <% for configuration in @page %>
      <tr>
        <td><%= configuration.title %></td>
        <td><%= text_field_tag "object[#{configuration.name}]",configuration.value,:class=>'txt',:style=>"width:300px;" %></td>
        <td><%= edit_link :id=>configuration.id, :title=>"#{image_tag("icons/edit.png")}" %></td>
      </tr>
    <% end %>
  </table>
  <br />
  <input type="submit" class="btn" value="<%=t(:"actions.confirm")%>" />
<% end%>
<%= cms_pages list%>
