<% cfg=file_cfg(before_container) %>
<div id="<%=cfg[:media] %>_picture_upload_dialog_container">
  <div class="hd"><%= t(:"media.video_files.dialog header") %></div>
  <div class="bd"></div>
</div>
<script type="text/javascript">
  //<![CDATA[
  ITH.Cms.<%=cfg[:media].to_s.camelize%>Dialog=new ITH.FileUploadDialog("<%=cfg[:media]%>_picture_upload_dialog_container")
  ITH.Cms.<%=cfg[:media].to_s.camelize%>Dialog.createDialog('<%=cfg[:media]%>')
  //]]>
</script>