<%#
# SIA ITHouse
# Rolands Bondars
%>
<% content_for :title, t(:"static_metadata.faq.title") %>
<% content_for :keywords, t(:"static_metadata.faq.keywords") %>

<% content_for :javascript do %>
  <%= javascript_include_tag "jquery-1.3.2.min", "faq" %>
<% end %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "public/faq" %>
<% end %>

<div id="faq">
  
<h1><%= t(:"public.faq") %></h1>

<% @faq_groups.each do |group| %>
  <ul class="faq">
    <h3><%= group.name %></h3>
       <% group.questions.each do |question|  %>
          <li class="faq-question"><span class="plus">+ </span> <%=  question.question %></li>
          <li class="faq-answer"><%= question.answer %></li>
       <% end %>
  </ul>
<% end %>
</div>