<%#
# Autors: Artūrs Meisters
%>
<% content_for :class_name do %>
  pub-profile
<% end %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'public/pub-profile' %>
<% end %>
<% content_for :left do %>
  <h2><%=t(:"profile.title").chars.capitalize%></h2>
  <h1><%=t(:"profile.user personal information")%>: <span><%=@user.login%></span></h1>
  <div class="col1">
    <h2><%=t(:"profile.personal information").chars.capitalize%></h2>
    <dl>
      <dt><%=t(:"profile.form.name")%>:</dt>
      <dd><%=@user.name%></dd>
      <dt><%=t(:"profile.form.sex").chars.capitalize%>:</dt>
      <dd><%= (@profile.sex==1 ? t(:"gender.man short") : @profile.sex==2 ? t(:"gender.woman short") : t(:"profile.not accessable")) %></dd>
      <dt><%=t(:"profile.form.birth date").chars.capitalize%>:</dt>
      <dd><%=@profile.birth_date ? @profile.birth_date.strftime("%d.%m.%Y") : t(:"profile.not accessable") %></dd>
      <dt><%=t(:"profile.form.location").chars.capitalize%>:</dt>
      <dd><%=@profile.simple_location%></dd>
      <dt><%=t(:"profile.form.interests").chars.capitalize%>:</dt>
      <dd><%=@profile.interests%></dd>
    </dl>
  </div>
  <div class="col2">
    <h2><%=t(:"profile.statistic")%>:</h2>
    <dl>
      <dt><%=t(:"profile.rating")%>:</dt>
      <dd><span class="points-pos"><%=@user.total_comments_rating%></span></dd>
      <dt><%=t(:"profile.amount")%><br /> <%=t(:"profile.comments")%>:</dt>
      <dd><br /><span class="stat"><%=@user.total_comments%></span></dd>
      <dt><%=t(:"profile.posts amount")%>:</dt>
      <dd><span class="stat"><%=@user.news.size%></span></dd>
    </dl>
  </div>
  <div class="clear"></div>
  <div class="splitter-light-gray"></div>
  <div class="col1 second">
    <h2><%=t(:"profile.form.contacts").chars.capitalize%></h2>
    <dl>
      <dt><%=t(:"profile.form.skype").chars.capitalize%>:</dt>
      <dd><strong><%=t(:"profile.not accessable")%></strong></dd>
      <dt><%=t(:"profile.form.blog url").chars.capitalize%>:</dt>
      <dd>
        <% if @profile.blog_url.to_s.size>0 %>
          <a href="http://<%=@profile.blog_url%>" ><span class="protocol">http://</span><%=@profile.blog_url%></a>
        <% else %>
          <%=  t(:"profile.not accessable")%>
        <% end %>
      </dd>
      <dt><%=t(:"profile.form.home page url").chars.capitalize%>:</dt>
      <dd>
        <% if @profile.home_page_url.to_s.size>0 %>
        <a href="http://<%=@profile.home_page_url%>" ><span class="protocol">http://</span><%=@profile.home_page_url%></a></dd>
      <% else %>
        <%=t(:"profile.not accessable")%>
      <% end %>
    </dl>
  </div>
  <div class="col2 second">
    <h2><%=t(:"profile.form.mail boxes").chars.capitalize%></h2>
    <dl>
      <% unless @profile.hide %>
        <dt><%=t(:"simple words.email")%>:</dt>
        <dd id="userml<%=@profile.id%>"></dd>
        <dt><%=t(:"simple words.email")%> <%=t(:"simple words.for")%><br /> <%=t(:"profile.comments")%>:</dt>
        <dd id="userml<%=@profile.id%>comment"><br /></dd>
        <script type="text/javascript">
          //<![CDATA[
          showem("#userml<%=@profile.id%>",'<%=@profile.email.to_s.split("").collect{|s| s.ord}.join(",")%>','<%=@profile.email_for_comments.to_s.split("").collect{|s| s.ord}.join(",")%>')
          //]]>
        </script>
      <% else %>
        <dt><%=t(:"simple words.email")%>:</dt>
        <dd id="userml<%=@profile.id%>"><%=t(:"profile.not accessable")%></dd>
        <dt><%=t(:"simple words.email")%> <%=t(:"simple words.for")%><br /> <%=t(:"profile.comments")%>:</dt>
        <dd id="userml<%=@profile.id%>comment"><br /><%=t(:"profile.not accessable")%></dd>
      <% end %>
    </dl>
  </div>
  <div class="clear"></div>
  <div class="splitter"></div>
<% end %>
