<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.30.1, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>100, :sort_column=>"author" %>
    <%= list_header_cell :width=>300, :sort_column=>"review" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for user_review in @page %>
    <tr>
      <td><%= edit_link(:title=>user_review.author, :id=>user_review.id) %></td>
      <td><%= user_review.review %></td>
      <td><%= destroy_link(:image=>true,:id=>user_review.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>