<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.26.2, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>300, :sort_column=>"Nosaukums" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for adv in @page %>
    <tr>
      <td><%= edit_link(:title=>adv.name, :id=>adv.id) %></td>
      <td><%= destroy_link(:image=>true,:id=>adv.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>