%div{:class => "tab #{active && "active"}", :id => "tab_#{tab.__id__}"}
  = render_component "lolita/configuration/tab", :error_msg, :tab => tab
  = render_component *tab.build 
  = #render_component "lolita/configuration/tab", :form, :tab => tab