<div class="tab box <%=resource.lolita.tabs.first == tab ? "first-tab" : "default minimized"%>" id="tab_<%=tab.__id__%>">
	<div class="tab-title boxtitle <%= resource.lolita.tabs.first == tab ? "black" : "grey"%>" data-closed="false">
    <h1><%= tab.title %></h1>
    <div class="arrow"></div>
  </div>
  <% if resource.errors.any? %>
    <p class="errorExplanation" id="errorExplanation">
      <%= raw resource.errors.keys.collect{|k|
        if error_tab = tab.fields.by_name(k)
          "#{error_tab.title.humanize.capitalize}: "+
            "#{resource.errors[k].collect{|m| m.capitalize}.join(" and ")}"
        end
      }.compact.join("<br>") %>
    </p>
  <% end %>
  <%= render_component *tab.build %>
</div>
