<%#
# Artūrs Meisters ITHGroup
# 17.10.2008
%>
<div id="app_editable_menu_container" class="bigbox" style="display:none;">
  <%= list_start_tags %>
  <div id="app_editable_menu" class="editable-menu"></div>
  <%= list_end_tags %>
</div>
<div id="web_editable_menu_container"  class="bigbox" style="display:none;">
  <%= list_start_tags %>
  <div id="web_editable_menu" class="editable-menu"></div>
  <%= list_end_tags %>
</div>
<div id="app_menu" class="smallbox">
  <%= list_start_tags %>
  <div id="app_menu_items"><%=image_tag "/lolita/images/cms/loading.gif" ,:style=>"margin-left:40%",:onclick=>"init_menus()"%> </div>
  <%= list_end_tags %>
</div>
<div id="web_menu" class="smallbox">
  <%= list_start_tags %>
  <div id="web_menu_items"></div>
  <%= list_end_tags %>
</div>