<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.30.1, 11:53:07
%>
<table summary="<%= only_controller%>">
  <tr>
    <%= list_header_cell :width=>50, :sort_column=>"Kods" %>
    <%= list_header_cell :width=>350, :sort_column=>"Pilsēta/Rajons" %>
    <%= list_header_cell :width=>50, :title=>"Dzēst" %>
  </tr>
  <% for post_code in @page %>
    <tr>
      <td><%= edit_link(:title=>post_code.code, :id=>post_code.id) %></td>
      <td><%= post_code.area.name %></td>
      <td><%= destroy_link(:image=>true,:id=>post_code.id) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= cms_pages list%>