<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.4.3, 15:45:07
%>
<% content_for :title, t(:"static_metadata.contacts.title") %>
<% content_for :keywords, t(:"static_metadata.contacts.keywords") %>

<% content_for :javascript do -%>
  <%= javascript_include_tag "sexy-lightbox/mootools-yui-compressed" %>
  <%= javascript_include_tag "jquery/autoresize.jquery.min.js" %>
  <script type="text/javascript">
    window.onload = function(){
      <% if @data.length > 0 %>
      $($$("div.error")[0].id.split("_").slice(1,$$("div.error")[0].id.split("_").length).join("_")).focus();
      <% else %>
      window.document.getElementsByTagName('input')[0].focus();
      <% end %>
    };
  </script>
  <script type="text/javascript">
      jQuery(document).ready(function(){
         jQuery("textarea#contacts_msg").autoResize();
      });
  </script>
<% end -%>
<% content_for :stylesheet do -%>
    <%= stylesheet_link_tag "public/forms" %>
    <%= stylesheet_link_tag "public/contacts" %>
<% end -%>
<h1><%= t(:"contacts.title") %></h1>
<div class="box midbox">
<div class="inner">
  <% form_tag "" do -%>
    <table>
      <tbody>
        <tr>
          <th>
            <label for="contacts_name">
              <%= t(:"contacts.name") %>
            </label>
          </th>
          <td class="col2">
             <%= text_field :contacts, :name, {:value=> @data.key?(:name)? @data[:name] : '' }  %>
          </td>
          <td><%= error_msg @validator.errors(:name).join(', '),:id=>"er_contacts_name" unless @validator.valid?(:name)  %></td>
        </tr>
        <tr>
          <th>
            <label for="contacts_phone">
              <%= t(:"contacts.phone") %>
            </label>
          </th>
          <td class="col2">
             <%= text_field :contacts, :phone, {:value=> @data.key?(:phone)? @data[:phone] : '', :maxlength => 8 }  %>
          </td>
          <td><%= error_msg @validator.errors(:phone).join(', '),:id=>"er_contacts_phone" unless @validator.valid?(:phone)  %></td>
        </tr>
        <tr>
          <th>
            <label for="contacts_email">
              <%= t(:"contacts.email") %>
            </label>
          </th>
          <td class="col2">
             <%= text_field :contacts, :email, {:value=> @data.key?(:email)? @data[:email] : '' }  %>
          </td>
          <td><%= error_msg @validator.errors(:email).join(', '),:id=>"er_contacts_email" unless @validator.valid?(:email)  %></td>
        </tr>
        <tr>
          <th>
            <label for="contacts_msg">
              <%= t(:"contacts.msg") %>
            </label>
          </th>
          <td class="col2" colspan="2">
             <%= text_area :contacts, :msg, {:value=> @data.key?(:msg)? @data[:msg] : '', :cols => 50,:rows => 10}  %>
             <%= error_msg @validator.errors(:msg).join(', '),:id=>"er_contacts_msg" unless @validator.valid?(:msg)  %></td>
        </tr>
        <tr>
          <th>&#160;</th>
          <td colspan="2" class="submit-row">
            <button type="submit"><span><%= t(:"contacts.submit") %></span></button>
          </td>
        </tr>
      </tbody>
  </table>
  <% end -%>
</div>
</div>
<div class="sidebox">
  <%= image_tag "envelope.png" %>
  <div class="box" id="contact-info">
      <%= Cms::TextPage.find_by_title("Kontakti").body %>
  </div>
</div>