<div class="field" id="field_<%=field.__id__%>">
  <% unless field.type == "hidden" %>
    <%= render_component *field.build(:name=>"/lolita/configuration/field", :state => :"label") %>
  <% end %>
  <div class="field-value" id="field_<%=field.__id__%>_value">
    <%= render_component *field.build %>
  </div>
  <% unless resource.errors[field.name.to_s.gsub(/_id$/,"").to_sym].empty? %>
    <p class="inline-errors"><%= raw resource.errors[field.name.to_s.gsub(/_id$/,"").to_sym].join("<br>") %></p>
  <% end %>
</div>
