<%#
# SIA ITHouse
# Gatis Tomsons
# 2009.16.4, 16:28:34
%>
<% content_for :stylesheet do -%>
<%= stylesheet_link_tag "public/forms" %>
  <style type="text/css">
    td, th { padding: 0; }
    input.textfield { width: 200px; }
    th { width: auto; }
    td div.error { width: auto; }
    h2 {margin-bottom: 5px;}
    p {margin-bottom: 10px;}
    body {padding-top: 15px; @padding-top:0;}
    .iban_format {white-space:normal;}
  </style>
<% end -%>
<h2><%= t(:"payout.title") %></h2>
<p><%= t(:"payout.hint") %></p>
<% form_tag "" do -%>
  <table>
    <tbody>
      <tr>
        <th>
          <label for="payout_first_name">
            <%= t(:"profile.step1.name") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :payout, :first_name, {:value=> @data.key?(:first_name)? @data[:first_name] : '', :maxlength => 20, :class => "textfield" }  %>
        </td>
        <td><%= error_msg @validator.errors(:first_name).join(', '),:id=>"er_payout_first_name" unless @validator.valid?(:first_name)  %></td>
      </tr>
      <tr>
        <th>
          <label for="payout_last_name">
            <%= t(:"profile.step1.last_name") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :payout, :last_name, {:value=> @data.key?(:last_name)? @data[:last_name] : '', :maxlength => 20, :class => "textfield" }  %>
        </td>
        <td><%= error_msg @validator.errors(:last_name).join(', '),:id=>"er_payout_last_name" unless @validator.valid?(:last_name)  %></td>
      </tr>
      <tr>
        <th>
          <label for="payout_person_code">
            <%= t(:"business.person_code") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :payout, :person_code, {:value=> @data.key?(:person_code)? @data[:person_code] : '', :maxlength => 12, :class => "textfield" }  %>
        </td>
        <td><%= error_msg @validator.errors(:person_code).join(', '),:id=>"er_payout_person_code" unless @validator.valid?(:person_code)  %></td>
      </tr>
      <tr>
        <th>
          <label for="payout_iban">
            <%= t(:"profile.change.iban") %>
          </label>
        </th>
        <td class="col2">
           <%= text_field :payout, :iban, {:value=> @data.key?(:iban)? @data[:iban] : '', :class => "textfield"}  %>
        </td>
        <td><%= error_msg @validator.errors(:iban).join(', '),:id=>"er_payout_iban" unless @validator.valid?(:iban)  %></td>
      </tr>
      <tr>
        <th>&#160;</th>
        <td colspan="2" class="iban_format"><small><%= t(:"profile.msg.iban_format") %></small></td>
      </tr>
      <tr>
        <th style="vertical-align: top;">
          <label for="payout_bank">
            <%= t(:"payout.bank") %>
          </label>
        </th>
        <td class="col2" colspan="2">
          <%= select :payout, :bank, [[(t :"payout.blank_bank"),""]] + Cms::Bank.find(:all).collect{|b| [b.name,b.swift_code]}, {:selected => @data.key?(:bank)? @data[:bank] : nil } %>
          <%= error_msg @validator.errors(:bank).join(', '),:id=>"er_payout_bank" unless @validator.valid?(:bank)  %>
        </td>
      </tr>
      <tr>
        <th>&#160;</th>
        <td colspan="2" class="submit-row">
          <button type="submit"><span><%= t(:"profile.dashboard.get_earnings") %></span></button>  <%= link_to t(:"login.cancel"), home_url, :onclick => "window.parent.SexyLightbox.close();" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>