<span class="brick" style="width:150px;float:none;">
  <label for="relation_type"><%= t(:".action menu") %></label>
  <input type="radio" name="relation_type" value="0" <%=current==0 ? "checked='checked'" : ""%> onchange="change_public_menus(0)"/>
</span>
<div id="content_menu_item_editor_0" class="content_menu_item_editor">
  <%= render :partial=>"admin_menu_select", :locals=>{
    :table_options=>admin_menu[:models],
    :action_options=>admin_menu[:actions],
    :current_item_id=>admin_menu[:menu_item_id],
    :public=>true
  }
%>
</div>
<div class="clear"></div>
<span class="brick" style="width:150px;float:none;">
  <label for="relation_type"><%= t(:".url menu") %></label>
  <input type="radio" name="relation_type" value="1" <%=current==1 ? "checked='checked'" : ""%> onchange="change_public_menus(1)"/>
</span>
<div id="content_menu_item_editor_1" class="content_menu_item_editor">
  <div class="fl">
    <span class='brick'>
      <%= text_field_tag "object[menu][url]", url,:class=>"txt",:maxlength=>255 %>
    </span>
  </div>
</div>
<div class="clear"></div>
<span class="brick" style="width:150px;float:none;">
  <label for="relation_type"><%= t(:".meta menu") %></label>
  <input type="radio" name="relation_type" value="2" <%=current==2 ? "checked='checked'" : "" %> onchange="change_public_menus(2)" />
</span>
<div id="content_menu_item_editor_2" class="content_menu_item_editor">
  <div class="fl">
    <span class="brick">
      <div class="autocomplete-container" style="width:505px;" >
        <%= text_field_tag "object[menu][meta_url]", meta_url, :id=>"autocomplete_object_menu_meta_url" %>
        <div id="autocomplete_container_object_menu_meta_url"></div>
      </div>
    </span>
  </div>
</div>
<script type="text/javascript">
  //<![CDATA[
  new ITH.Editor.AutoComplete("autocomplete_object_menu_meta_url","autocomplete_container_object_menu_meta_url","<%=url_for(:controller=>"admin/menu_item",:action=>"get_meta_url")%>")
  change_public_menus(<%=current%>)
  //]]>
</script>

